IF TYPE_ID('TP_RATES_EC_MODEL_EQUIPMENT') IS NOT NULL
DROP TYPE [TP_RATES_EC_MODEL_EQUIPMENT];
GO
CREATE TYPE [TP_RATES_EC_MODEL_EQUIPMENT] AS TABLE(
    [INTERVAL] INT,      
    [PERCENTAGE]  DECIMAL(22,6),      
    [QTY_INI_PL] INT ,      
    [QTY_FINAL_FL] INT ,    
    [ANTICIPATION] DECIMAL(22,6),      
    [COD_TRAN_TYPE] INT,      
    [COD_SOURCE_TRAN] INT,      
    [COD_AFFILIATOR] INT,      
    [COD_BRAND] INT ,      
    [COD_TYPE_PLAN] INT NULL,
	[RATE] DECIMAL (22,6)  NULL,	
	[COD_PLAN] INT NULL,
	[COD_MODEL] INT NULL
)
GO

IF (( SELECT
		COUNT(*)
	FROM PLAN_OPTION
	WHERE CODE = 'TERMINAL_PLAN'
	AND COD_PLAN_OPT = 3)
= 0)
INSERT INTO [PLAN_OPTION] ([COD_PLAN_OPT], [CODE])
	VALUES (3, 'TERMINAL_PLAN');
GO

IF OBJECT_ID('SP_GW_REG_PLAN_AFFILIATOR_MODEL_EQUIPMENT') IS NOT NULL
DROP PROCEDURE SP_GW_REG_PLAN_AFFILIATOR_MODEL_EQUIPMENT
GO
CREATE PROCEDURE [dbo].[SP_GW_REG_PLAN_AFFILIATOR_MODEL_EQUIPMENT]    
/*----------------------------------------------------------------------------------------      
Procedure Name: [SP_GW_REG_PLAN_AFFILIATOR_MODEL_EQUIPMENT]      
Project.......: TKPP      
------------------------------------------------------------------------------------------      
Author					VERSION		Date                    Description      
------------------------------------------------------------------------------------------      
Marcus Gall				V1			2020-07-13		ET-921: Handle Plan by Equipment
------------------------------------------------------------------------------------------*/      
(      
    @CODE				VARCHAR(100),      
    @TYPEPLAN			INT,      
    @DESCRIPTION		VARCHAR(100),
	@COD_SEG			INT = 306,
    @COD_AFFILIATOR		INT = NULL,      
    @COD_PLAN_CATEGORY	INT = NULL,
	@COD_PLAN_OPT		INT = NULL
)    
AS           

DECLARE @COD_USER INT;
DECLARE @COD_COMP INT;

BEGIN
      
    
    IF (( SELECT
		COUNT(*)
	FROM [PLAN]
	WHERE UPPER(CODE) = UPPER(@CODE)
	AND COD_AFFILIATOR = @COD_AFFILIATOR)
> 0)
THROW 61005, 'PLAN ALREADY REGISTERED', 1;

SELECT
	@COD_USER = COD_USER_INT
   ,@COD_COMP = COD_COMP
FROM ACCESS_APPAPI
WHERE COD_AFFILIATOR = @COD_AFFILIATOR;

INSERT INTO [PLAN] (CODE,
COD_T_PLAN,
[DESCRIPTION],
COD_USER,
COD_AFFILIATOR,
COD_PLAN_CATEGORY,
COD_COMP,
COD_SEG,
COD_PLAN_OPT)
	VALUES (@CODE, @TYPEPLAN, @DESCRIPTION, @COD_USER, @COD_AFFILIATOR, @COD_PLAN_CATEGORY, @COD_COMP, @COD_SEG, @COD_PLAN_OPT);

IF @@rowcount < 1
THROW 60000, 'COULD NOT REGISTER [PLAN] ', 1;

SELECT
	@@identity AS COD_PLAN;
END
GO

IF OBJECT_ID('SP_GW_REG_TAX_PLAN_AFFILIATOR_MODEL_EQUIPMENT') IS NOT NULL
DROP PROCEDURE SP_GW_REG_TAX_PLAN_AFFILIATOR_MODEL_EQUIPMENT
GO
CREATE PROCEDURE [dbo].[SP_GW_REG_TAX_PLAN_AFFILIATOR_MODEL_EQUIPMENT]    
/*----------------------------------------------------------------------------------------      
Procedure Name: [SP_GW_REG_TAX_PLAN_AFFILIATOR_MODEL_EQUIPMENT]      
Project.......: TKPP      
------------------------------------------------------------------------------------------      
Author                  VERSION        Date                            Description      
------------------------------------------------------------------------------------------      
Marcus Gall				V1			2020-07-13		ET-921: Handle Plan by Equipment
------------------------------------------------------------------------------------------*/      
(      
 @TP_RATES_EC_MODEL_EQUIPMENT [TP_RATES_EC_MODEL_EQUIPMENT] READONLY
)
AS
BEGIN
 

DECLARE @CONT INT = 0;

SELECT
	@CONT = COUNT(*)
FROM TAX_PLAN
JOIN @TP_RATES_EC_MODEL_EQUIPMENT TP_RATE
	ON TP_RATE.COD_PLAN = TAX_PLAN.COD_PLAN
		AND TP_RATE.COD_TRAN_TYPE = TAX_PLAN.COD_TTYPE
		AND TP_RATE.QTY_INI_PL = TAX_PLAN.QTY_INI_PLOTS
		AND TP_RATE.QTY_FINAL_FL = TAX_PLAN.QTY_FINAL_PLOTS
		AND TP_RATE.[PERCENTAGE] = TAX_PLAN.PARCENTAGE
		AND TP_RATE.RATE = TAX_PLAN.RATE
		AND TP_RATE.COD_BRAND = TAX_PLAN.COD_BRAND
		AND TP_RATE.COD_SOURCE_TRAN = TAX_PLAN.COD_SOURCE_TRAN
		AND TP_RATE.COD_MODEL = TAX_PLAN.COD_MODEL
		AND ACTIVE = 1;

IF @CONT > 0
THROW 61001, 'TAX ALREADY REGISTERED TO THIS PLAN', 1;


INSERT INTO TAX_PLAN (COD_TTYPE,
QTY_INI_PLOTS,
QTY_FINAL_PLOTS,
PARCENTAGE,
RATE,
INTERVAL,
ACTIVE,
COD_PLAN,
ANTICIPATION_PERCENTAGE,
COD_BRAND,
COD_SOURCE_TRAN,
EFFECTIVE_PERCENTAGE,
COD_MODEL)

	SELECT
		ITEM.COD_TRAN_TYPE
	   ,ITEM.QTY_INI_PL
	   ,ITEM.QTY_FINAL_FL
	   ,ITEM.[PERCENTAGE]
	   ,ITEM.RATE
	   ,ITEM.INTERVAL
	   ,1
	   ,ITEM.COD_PLAN
	   ,ITEM.ANTICIPATION
	   ,ITEM.COD_BRAND
	   ,ITEM.COD_SOURCE_TRAN
	   ,0
	   ,ITEM.COD_MODEL
	FROM @TP_RATES_EC_MODEL_EQUIPMENT ITEM

IF @@rowcount < 1
THROW 60000, 'COULD NOT REGISTER [TAX_PLAN] ', 1;
END
GO

IF OBJECT_ID('SP_GW_UP_PLAN_ESTABLISHMENT_MODEL_EQUIPMENT') IS NOT NULL
DROP PROCEDURE SP_GW_UP_PLAN_ESTABLISHMENT_MODEL_EQUIPMENT
GO
CREATE PROCEDURE [dbo].[SP_GW_UP_PLAN_ESTABLISHMENT_MODEL_EQUIPMENT]    
/*----------------------------------------------------------------------------------------      
Procedure Name: [SP_GW_UP_PLAN_ESTABLISHMENT_MODEL_EQUIPMENT]      
Project.......: TKPP      
------------------------------------------------------------------------------------------      
Author                          VERSION        Date                            Description      
------------------------------------------------------------------------------------------      
Marcus Gall						V1			2020-07-13		ET-921: Handle Plan by Equipment
------------------------------------------------------------------------------------------*/      
(      
 @TP_RATES_EC_MODEL_EQUIPMENT [TP_RATES_EC_MODEL_EQUIPMENT] READONLY,
 @COD_EC INT,
 @COD_T_PLAN VARCHAR(100) = NULL
)
AS
BEGIN

DECLARE @COD_DEPTO_BRANCH INT;
      
DECLARE @COD_USER INT;
      
DECLARE @COD_AFFILIATOR INT;
      
DECLARE @QTD_TAX INT;
      
DECLARE @COUNT_TAX_EQUALS INT;
     
DECLARE @_COD_PLAN INT;
  
DECLARE @COD_T_PLAN_INS INT = 0;

SELECT
	@COD_DEPTO_BRANCH = ASS_TAX_DEPART.COD_DEPTO_BRANCH
   ,@QTD_TAX = COUNT(*)
   ,@_COD_PLAN = ASS_TAX_DEPART.COD_PLAN
FROM ASS_TAX_DEPART
JOIN DEPARTMENTS_BRANCH
	ON DEPARTMENTS_BRANCH.COD_DEPTO_BRANCH = ASS_TAX_DEPART.COD_DEPTO_BRANCH
JOIN BRANCH_EC
	ON BRANCH_EC.COD_BRANCH = DEPARTMENTS_BRANCH.COD_BRANCH
JOIN COMMERCIAL_ESTABLISHMENT
	ON COMMERCIAL_ESTABLISHMENT.COD_EC = BRANCH_EC.COD_EC
JOIN AFFILIATOR
	ON AFFILIATOR.COD_AFFILIATOR = COMMERCIAL_ESTABLISHMENT.COD_AFFILIATOR
WHERE COMMERCIAL_ESTABLISHMENT.COD_EC = @COD_EC
AND ASS_TAX_DEPART.ACTIVE = 1
GROUP BY ASS_TAX_DEPART.COD_DEPTO_BRANCH
		,ASS_TAX_DEPART.COD_PLAN


SET @COD_T_PLAN_INS = (SELECT
		CASE
			WHEN @COD_T_PLAN = 'PARCELADO' THEN 1
			WHEN @COD_T_PLAN = 'AGRUPADO' THEN 2
			ELSE NULL
		END);

UPDATE ASS_TAX_DEPART
SET ACTIVE = 0
WHERE COD_DEPTO_BRANCH = @COD_DEPTO_BRANCH
AND ACTIVE = 1;

SELECT
	@COD_USER = COD_USER_INT
FROM ACCESS_APPAPI
WHERE COD_AFFILIATOR = @COD_AFFILIATOR;

INSERT INTO ASS_TAX_DEPART (COD_TTYPE,
QTY_INI_PLOTS,
QTY_FINAL_PLOTS,
PARCENTAGE,
RATE,
INTERVAL,
ACTIVE,
COD_PLAN,
ANTICIPATION_PERCENTAGE,
COD_BRAND,
COD_SOURCE_TRAN,
COD_DEPTO_BRANCH,
COD_USER,
EFFECTIVE_PERCENTAGE,
COD_MODEL)

	SELECT
		ITEM.COD_TRAN_TYPE
	   ,ITEM.QTY_INI_PL
	   ,ITEM.QTY_FINAL_FL
	   ,ITEM.[PERCENTAGE]
	   ,ITEM.RATE
	   ,ITEM.INTERVAL
	   ,1
	   ,@_COD_PLAN
	   ,ITEM.ANTICIPATION
	   ,ITEM.COD_BRAND
	   ,ITEM.COD_SOURCE_TRAN
	   ,@COD_DEPTO_BRANCH
	   ,@COD_USER
	   ,0
	   ,ITEM.COD_MODEL
	FROM @TP_RATES_EC_MODEL_EQUIPMENT ITEM

IF @@rowcount < 1
THROW 60000, 'COULD NOT REGISTER [TAX_PLAN] ', 1;

UPDATE DEPARTMENTS_BRANCH
SET COD_T_PLAN = ISNULL(@COD_T_PLAN_INS, COD_T_PLAN)
WHERE COD_DEPTO_BRANCH = @COD_DEPTO_BRANCH

END;
GO

IF OBJECT_ID('[SP_GW_VALIDATE_PLAN_EC_AFF_MODEL_EQUIPMENT]') IS NOT NULL
DROP PROCEDURE [SP_GW_VALIDATE_PLAN_EC_AFF_MODEL_EQUIPMENT]

GO
CREATE PROCEDURE [dbo].[SP_GW_VALIDATE_PLAN_EC_AFF_MODEL_EQUIPMENT]      
/*----------------------------------------------------------------------------------------          
Procedure Name: [SP_GW_VALIDATE_PLAN_EC_AFF_MODEL_EQUIPMENT]          
Project.......: TKPP          
------------------------------------------------------------------------------------------          
Author                          VERSION        Date                            Description          
------------------------------------------------------------------------------------------          
Marcus Gall      V1   2020-07-13  ET-921: Handle Plan by Equipment    
------------------------------------------------------------------------------------------*/          
(          
 @TP_RATES_EC_MODEL_EQUIPMENT [TP_RATES_EC_MODEL_EQUIPMENT] READONLY     
)            
AS      
BEGIN

SELECT
	ITEM.INTERVAL
   ,ITEM.[PERCENTAGE]
   ,ITEM.QTY_INI_PL
   ,ITEM.QTY_FINAL_FL
   ,ITEM.ANTICIPATION
   ,ITEM.COD_TRAN_TYPE
   ,ITEM.COD_SOURCE_TRAN
   ,ITEM.COD_AFFILIATOR
   ,ITEM.COD_BRAND
   ,ITEM.COD_TYPE_PLAN
   ,ITEM.RATE
   ,ITEM.COD_MODEL INTO #TEMP_TAX_EC
FROM @TP_RATES_EC_MODEL_EQUIPMENT ITEM



DECLARE @OPT_PLAN INT;

SELECT
	@OPT_PLAN =
	CASE
		WHEN PLAN_TAX_AFFILIATOR.COD_MODEL IS NULL THEN NULL
		ELSE 0
	END
FROM PLAN_TAX_AFFILIATOR
INNER JOIN #TEMP_TAX_EC TAX
	ON TAX.COD_AFFILIATOR = PLAN_TAX_AFFILIATOR.COD_AFFILIATOR
INNER JOIN [PLAN]
	ON [PLAN].COD_PLAN = PLAN_TAX_AFFILIATOR.COD_PLAN
WHERE PLAN_TAX_AFFILIATOR.COD_SOURCE_TRAN = 2

IF (@OPT_PLAN IS NOT NULL)
BEGIN
IF (SELECT
			COUNT(*)
		FROM #TEMP_TAX_EC
		WHERE COD_SOURCE_TRAN = 2
		AND COD_MODEL IS NULL)
	> 0
THROW 89131, 'INVALID OPTION PLAN FOR THIS AFFILIATOR', 1;

END
ELSE
BEGIN

IF (SELECT
			COUNT(*)
		FROM #TEMP_TAX_EC
		WHERE COD_SOURCE_TRAN = 2
		AND COD_MODEL IS NOT NULL)
	> 0
THROW 89131, 'INVALID OPTION PLAN FOR THIS AFFILIATOR', 1;


END

SELECT
	QTY_INI_PLOTS
   ,QTY_FINAL_PLOTS
   ,BRAND.COD_TTYPE
   ,BRAND.COD_BRAND
   ,BRAND.[NAME] AS BRAND
   ,[PLAN_TAX_AFFILIATOR].[PERCENTAGE] AS MDR
   ,ANTICIPATION_PERCENTAGE AS ANTICIP
   ,[PLAN_TAX_AFFILIATOR].INTERVAL AS INTERVAL
   ,PLAN_TAX_AFFILIATOR.COD_AFFILIATOR
   ,AFFILIATOR.[NAME] AS AFFILIATOR
   ,[PLAN_TAX_AFFILIATOR].COD_SOURCE_TRAN
   ,EQUIPMENT_MODEL.COD_MODEL INTO #TEMP_INCORRETS
FROM [PLAN_TAX_AFFILIATOR]
JOIN AFFILIATOR
	ON AFFILIATOR.COD_AFFILIATOR = PLAN_TAX_AFFILIATOR.COD_AFFILIATOR
JOIN BRAND
	ON BRAND.COD_BRAND = PLAN_TAX_AFFILIATOR.COD_BRAND
JOIN [PLAN]
	ON [PLAN].COD_PLAN = PLAN_TAX_AFFILIATOR.COD_PLAN
JOIN TYPE_PLAN
	ON TYPE_PLAN.COD_T_PLAN = [PLAN].COD_T_PLAN
LEFT JOIN EQUIPMENT_MODEL
	ON EQUIPMENT_MODEL.COD_MODEL = PLAN_TAX_AFFILIATOR.COD_MODEL
JOIN #TEMP_TAX_EC TAX_EC
	ON TAX_EC.COD_AFFILIATOR = PLAN_TAX_AFFILIATOR.COD_AFFILIATOR
		AND TAX_EC.COD_SOURCE_TRAN = PLAN_TAX_AFFILIATOR.COD_SOURCE_TRAN
		AND ([PLAN].COD_PLAN_OPT = 3
			OR [PLAN].COD_PLAN_OPT IS NULL)
		AND (ISNULL(TAX_EC.COD_MODEL, 0) =
		CASE
			WHEN ((PLAN_TAX_AFFILIATOR.COD_SOURCE_TRAN = 2 AND
				PLAN_TAX_AFFILIATOR.COD_MODEL IS NULL) OR
				(PLAN_TAX_AFFILIATOR.COD_SOURCE_TRAN = 1)) THEN 0
			ELSE PLAN_TAX_AFFILIATOR.COD_MODEL
		END)
		AND TAX_EC.COD_BRAND = PLAN_TAX_AFFILIATOR.COD_BRAND
		--AND TAX_EC.COD_MODEL = PLAN_TAX_AFFILIATOR.COD_MODEL
		AND (TAX_EC.QTY_INI_PL BETWEEN PLAN_TAX_AFFILIATOR.QTY_INI_PLOTS AND PLAN_TAX_AFFILIATOR.QTY_FINAL_PLOTS
			OR TAX_EC.QTY_FINAL_FL BETWEEN PLAN_TAX_AFFILIATOR.QTY_INI_PLOTS AND PLAN_TAX_AFFILIATOR.QTY_FINAL_PLOTS)
WHERE PLAN_TAX_AFFILIATOR.ACTIVE = 1
AND ([PLAN_TAX_AFFILIATOR].[PERCENTAGE] > TAX_EC.[PERCENTAGE]
OR (TAX_EC.COD_TYPE_PLAN = 2
AND [PLAN_TAX_AFFILIATOR].ANTICIPATION_PERCENTAGE > TAX_EC.ANTICIPATION)
OR (TYPE_PLAN.COD_T_PLAN = 2
AND [PLAN_TAX_AFFILIATOR].INTERVAL > TAX_EC.INTERVAL)
OR [PLAN_TAX_AFFILIATOR].RATE > TAX_EC.RATE)

IF (SELECT
			COUNT(*)
		FROM #TEMP_INCORRETS)
	> 0
THROW 61063, 'invalid plan . This plan have one or more rates lower then affiliator plan', 1;
END
GO

IF OBJECT_ID('SP_GW_UP_TAX_PLAN_AFFILIATOR_MODEL_EQUIPMENT') IS NOT NULL
DROP PROCEDURE SP_GW_UP_TAX_PLAN_AFFILIATOR_MODEL_EQUIPMENT
GO
CREATE PROCEDURE [dbo].[SP_GW_UP_TAX_PLAN_AFFILIATOR_MODEL_EQUIPMENT]      
/*----------------------------------------------------------------------------------------        
Procedure Name: [SP_GW_UP_TAX_PLAN_AFFILIATOR_MODEL_EQUIPMENT]        
Project.......: TKPP        
------------------------------------------------------------------------------------------        
Author                          VERSION        Date                            Description        
------------------------------------------------------------------------------------------        
Marcus Gall      V1   2020-07-13  ET-921: Handle Plan by Equipment  
------------------------------------------------------------------------------------------*/        
(        
 @TP_RATES_EC_MODEL_EQUIPMENT [TP_RATES_EC_MODEL_EQUIPMENT] READONLY  
)  
AS  
BEGIN
  
   
  
DECLARE @COD_PLAN INT;

SELECT
	@COD_PLAN =
	TP.COD_PLAN
FROM @TP_RATES_EC_MODEL_EQUIPMENT TP
JOIN [PLAN]
	ON [PLAN].COD_PLAN = TP.COD_PLAN

UPDATE TAX_PLAN
SET ACTIVE = 0
WHERE COD_PLAN = @COD_PLAN;

INSERT INTO TAX_PLAN (COD_TTYPE,
QTY_INI_PLOTS,
QTY_FINAL_PLOTS,
PARCENTAGE,
RATE,
INTERVAL,
ACTIVE,
COD_PLAN,
ANTICIPATION_PERCENTAGE,
COD_BRAND,
COD_SOURCE_TRAN,
EFFECTIVE_PERCENTAGE,
COD_MODEL)

	SELECT
		ITEM.COD_TRAN_TYPE
	   ,ITEM.QTY_INI_PL
	   ,ITEM.QTY_FINAL_FL
	   ,ITEM.[PERCENTAGE]
	   ,ITEM.RATE
	   ,ITEM.INTERVAL
	   ,1
	   ,ITEM.COD_PLAN
	   ,ITEM.ANTICIPATION
	   ,ITEM.COD_BRAND
	   ,ITEM.COD_SOURCE_TRAN
	   ,0
	   ,ITEM.COD_MODEL
	FROM @TP_RATES_EC_MODEL_EQUIPMENT ITEM

IF @@rowcount < 1

THROW 60000, 'COULD NOT REGISTER [TAX_PLAN] ', 1;
END
GO
IF OBJECT_ID('[SP_GW_LS_DETAILS_PLAN_MODEL_EQUIPMENT]') IS NOT NULL
DROP PROCEDURE [SP_GW_LS_DETAILS_PLAN_MODEL_EQUIPMENT]

GO

CREATE PROCEDURE [dbo].[SP_GW_LS_DETAILS_PLAN_MODEL_EQUIPMENT]           
/*----------------------------------------------------------------------------------------          
Procedure Name: [SP_GW_LS_DETAILS_PLAN_MODEL_EQUIPMENT]          
Project.......: TKPP          
------------------------------------------------------------------------------------------          
Author                          VERSION        Date                            Description          
------------------------------------------------------------------------------------------          
Marcus Gall      V1   2020-07-13  ET-921: Handle Plan by Equipment    
-------------------------------------------------------------	-----------------------------*/         
(      
 @COD_PLAN INT,      
 @COD_AFFILIATOR INT      
)      
AS      
BEGIN
  
      
 DECLARE @COD_AFF_PLAN INT;

SELECT
	@COD_AFF_PLAN = COD_AFFILIATOR
FROM [PLAN]
WHERE COD_PLAN = @COD_PLAN
AND ACTIVE = 1;

IF (@COD_AFF_PLAN <> @COD_AFFILIATOR)
THROW 61064, 'INVALID PLAN FOR THIS AFFILIATOR OR PLAN IS INACTIVE', 1;

SELECT DISTINCT
	PLANS.COD_PLAN
   ,PLANS.[NAME_PLAN]
   ,PLANS.[DESCRIPTION]
   ,PLANS.CATEGORY
   ,PLANS.TYPE_PLAN
   ,PLANS.PLAN_OPTION
   ,PLANS.BRAND_GROUP
   ,PLANS.TRANSACTION_TYPE
   ,PLANS.QTY_INI_PLOTS
   ,PLANS.QTY_FINAL_PLOTS
   ,PLANS.EQUIPMENT_MODEL
   ,SUM(PLANS.ANTICIPATION_PERCENTAGE) AS ANTICIPATION_PERCENTAGE
   ,SUM(INTERVAL_DEBIT) AS INTERVAL_DEBIT
   ,SUM(INTERVAL_CREDIT_A_VISTA) AS INTERVAL_CREDIT_A_VISTA
   ,SUM(INTERVAL_CREDIT_PARCELADO) AS INTERVAL_CREDIT_PARCELADO
   ,SUM(INTERVAL_ONLINE) AS INTERVAL_ONLINE
   ,SUM(PLANS.PARCENTAGE) AS PARCENTAGE
   ,SUM(PLANS.RATE) AS RATE
FROM (SELECT
		[PLAN].COD_PLAN
	   ,[PLAN].CODE AS [NAME_PLAN]
	   ,[PLAN].[DESCRIPTION]
	   ,PLAN_CATEGORY.CATEGORY
	   ,TYPE_PLAN.CODE AS TYPE_PLAN
	   ,PLAN_OPTION.CODE AS PLAN_OPTION
	   ,BRAND.[GROUP] AS BRAND_GROUP
	   ,TRANSACTION_TYPE.CODE AS TRANSACTION_TYPE
	   ,TAX_PLAN.QTY_INI_PLOTS
	   ,TAX_PLAN.QTY_FINAL_PLOTS
	   ,CASE
			WHEN (SOURCE_TRANSACTION.COD_SOURCE_TRAN = 1) THEN 'SITE'
			ELSE EQUIPMENT_MODEL.CODIGO
		END AS EQUIPMENT_MODEL
	   ,TAX_PLAN.ANTICIPATION_PERCENTAGE
	   ,CASE
			WHEN TAX_PLAN.QTY_INI_PLOTS = 1 AND
				TAX_PLAN.QTY_FINAL_PLOTS = 1 AND
				TAX_PLAN.COD_TTYPE = 2 AND
				SOURCE_TRANSACTION.COD_SOURCE_TRAN = 2 THEN TAX_PLAN.INTERVAL
			ELSE 0
		END AS [INTERVAL_DEBIT]
	   ,CASE
			WHEN TAX_PLAN.QTY_INI_PLOTS = 1 AND
				TAX_PLAN.QTY_FINAL_PLOTS = 1 AND
				TAX_PLAN.COD_TTYPE = 1 AND
				SOURCE_TRANSACTION.COD_SOURCE_TRAN = 2 THEN TAX_PLAN.INTERVAL
			ELSE 0
		END AS [INTERVAL_CREDIT_A_VISTA]
	   ,CASE
			WHEN TAX_PLAN.QTY_INI_PLOTS >= 1 AND
				TAX_PLAN.QTY_FINAL_PLOTS > 1 AND
				TAX_PLAN.COD_TTYPE = 1 AND
				SOURCE_TRANSACTION.COD_SOURCE_TRAN = 2 THEN TAX_PLAN.INTERVAL
			ELSE 0
		END AS [INTERVAL_CREDIT_PARCELADO]
	   ,CASE
			WHEN SOURCE_TRANSACTION.COD_SOURCE_TRAN = 1 THEN TAX_PLAN.INTERVAL
			ELSE 0
		END AS [INTERVAL_ONLINE]
	   ,PARCENTAGE
	   ,RATE
	FROM [PLAN]
	JOIN TAX_PLAN
		ON TAX_PLAN.COD_PLAN = [PLAN].COD_PLAN
	JOIN PLAN_CATEGORY
		ON PLAN_CATEGORY.COD_PLAN_CATEGORY = [PLAN].COD_PLAN_CATEGORY
	JOIN TYPE_PLAN
		ON TYPE_PLAN.COD_T_PLAN = [PLAN].COD_T_PLAN
	JOIN TRANSACTION_TYPE
		ON TRANSACTION_TYPE.COD_TTYPE = TAX_PLAN.COD_TTYPE
	JOIN BRAND
		ON BRAND.COD_BRAND = TAX_PLAN.COD_BRAND
	JOIN SOURCE_TRANSACTION
		ON SOURCE_TRANSACTION.COD_SOURCE_TRAN = TAX_PLAN.COD_SOURCE_TRAN
	LEFT JOIN PLAN_OPTION
		ON PLAN_OPTION.COD_PLAN_OPT = [PLAN].COD_PLAN_OPT
	LEFT JOIN EQUIPMENT_MODEL
		ON EQUIPMENT_MODEL.COD_MODEL = TAX_PLAN.COD_MODEL
	WHERE TAX_PLAN.ACTIVE = 1) AS PLANS
WHERE PLANS.COD_PLAN = @COD_PLAN
GROUP BY PLANS.COD_PLAN
		,PLANS.[NAME_PLAN]
		,PLANS.[DESCRIPTION]
		,PLANS.CATEGORY
		,PLANS.TYPE_PLAN
		,PLANS.PLAN_OPTION
		,PLANS.BRAND_GROUP
		,PLANS.TRANSACTION_TYPE
		,PLANS.QTY_INI_PLOTS
		,PLANS.QTY_FINAL_PLOTS
		,PLANS.EQUIPMENT_MODEL;


END

GO

IF OBJECT_ID('[SP_GW_UP_PLAN_AFFILIATOR]') IS NOT NULL
DROP PROCEDURE [SP_GW_UP_PLAN_AFFILIATOR]

GO

CREATE PROCEDURE [dbo].[SP_GW_UP_PLAN_AFFILIATOR]      
/*----------------------------------------------------------------------------------------        
Procedure Name: [SP_GW_UP_PLAN_AFFILIATOR]        
Project.......: TKPP        
------------------------------------------------------------------------------------------        
Author                          VERSION        Date                            Description        
------------------------------------------------------------------------------------------        
Caike Uchôa                       V1          2020-06-05                        Creation      
------------------------------------------------------------------------------------------*/        
(     
    @COD_PLAN INT,  
    @CODE VARCHAR(100),        
    @TYPEPLAN  INT,        
    @DESCRIPTION VARCHAR(100),        
    @COD_AFFILIATOR INT = NULL,        
    @COD_PLAN_CATEGORY INT = NULL       
)      
AS                
DECLARE @COD_AFF_PLAN INT;
  
DECLARE @COD_USER INT;
  
DECLARE @COD_COMP INT;
  
  
BEGIN
  
  
IF( SELECT
		COUNT(*)
	FROM [PLAN]
	WHERE COD_PLAN = @COD_PLAN
	AND ACTIVE = 1)
= 0
THROW 80689, 'INVALID PLAN', 1;


SELECT
	@COD_AFF_PLAN = COD_AFFILIATOR
FROM [PLAN]
WHERE COD_PLAN = @COD_PLAN;
IF @COD_AFF_PLAN <> @COD_AFFILIATOR
THROW 61064, 'INVALID PLAN FOR THIS AFFILIATOR', 1;



IF (SELECT
			COUNT(*)
		FROM [PLAN]
		WHERE [PLAN].COD_PLAN = @COD_PLAN
		AND [PLAN].COD_AFFILIATOR = @COD_AFFILIATOR
		AND [PLAN].CODE = @CODE
		AND [PLAN].COD_T_PLAN = @TYPEPLAN
		AND [PLAN].[DESCRIPTION] = @DESCRIPTION
		AND [PLAN].COD_PLAN_CATEGORY = @COD_PLAN_CATEGORY
		AND ACTIVE = 1)
	= 0

BEGIN

SELECT
	@COD_USER = COD_USER_INT
   ,@COD_COMP = COD_COMP
FROM ACCESS_APPAPI
WHERE COD_AFFILIATOR = @COD_AFFILIATOR


UPDATE [PLAN]
SET CODE = @CODE
   ,COD_T_PLAN = @TYPEPLAN
   ,[DESCRIPTION] = @DESCRIPTION
   ,COD_USER = @COD_USER
   ,COD_AFFILIATOR = @COD_AFFILIATOR
   ,COD_PLAN_CATEGORY = @COD_PLAN_CATEGORY
   ,COD_COMP = @COD_COMP
   ,MODIFY_DATE = current_timestamp
WHERE COD_PLAN = @COD_PLAN
AND ACTIVE = 1


SELECT
	@COD_PLAN AS COD_PLAN

END

SELECT
	@COD_PLAN AS COD_PLAN


END;

GO

IF OBJECT_ID('SP_GW_UP_PLAN_AFFILIATOR_MODEL_EQUIPMENT') IS NOT NULL
DROP PROCEDURE SP_GW_UP_PLAN_AFFILIATOR_MODEL_EQUIPMENT
GO
CREATE PROCEDURE [dbo].[SP_GW_UP_PLAN_AFFILIATOR_MODEL_EQUIPMENT]    
/*----------------------------------------------------------------------------------------      
Procedure Name: [SP_GW_UP_PLAN_AFFILIATOR_MODEL_EQUIPMENT]      
Project.......: TKPP      
------------------------------------------------------------------------------------------      
Author                          VERSION        Date                            Description      
------------------------------------------------------------------------------------------      
Marcus Gall						V1			2020-07-13		ET-921: Handle Plan by Equipment
------------------------------------------------------------------------------------------*/      
(   
    @COD_PLAN INT,
    @CODE VARCHAR(100),      
    @TYPEPLAN  INT,      
    @DESCRIPTION VARCHAR(100),      
    @COD_AFFILIATOR INT = NULL,      
    @COD_PLAN_CATEGORY INT = NULL, 
	@COD_PLAN_OPT INT = NULL
)    
AS              
DECLARE @COD_AFF_PLAN INT;
DECLARE @COD_USER INT;
DECLARE @COD_COMP INT;

BEGIN

IF( SELECT
		COUNT(*)
	FROM [PLAN]
	WHERE COD_PLAN = @COD_PLAN
	AND ACTIVE = 1)
= 0
THROW 80689, 'INVALID PLAN', 1;

SELECT
	@COD_AFF_PLAN = COD_AFFILIATOR
FROM [PLAN]
WHERE COD_PLAN = @COD_PLAN;
IF @COD_AFF_PLAN <> @COD_AFFILIATOR
THROW 61064, 'INVALID PLAN FOR THIS AFFILIATOR', 1;

IF (SELECT
			COUNT(*)
		FROM [PLAN]
		WHERE [PLAN].COD_PLAN = @COD_PLAN
		AND [PLAN].COD_AFFILIATOR = @COD_AFFILIATOR
		AND [PLAN].CODE = @CODE
		AND [PLAN].COD_T_PLAN = @TYPEPLAN
		AND [PLAN].[DESCRIPTION] = @DESCRIPTION
		AND [PLAN].COD_PLAN_CATEGORY = @COD_PLAN_CATEGORY
		AND [PLAN].COD_PLAN_OPT = @COD_PLAN_OPT
		AND ACTIVE = 1)
	= 0

BEGIN

SELECT
	@COD_USER = COD_USER_INT
   ,@COD_COMP = COD_COMP
FROM ACCESS_APPAPI
WHERE COD_AFFILIATOR = @COD_AFFILIATOR


UPDATE [PLAN]
SET CODE = @CODE
   ,COD_T_PLAN = @TYPEPLAN
   ,[DESCRIPTION] = @DESCRIPTION
   ,COD_USER = @COD_USER
   ,COD_AFFILIATOR = @COD_AFFILIATOR
   ,COD_PLAN_CATEGORY = @COD_PLAN_CATEGORY
   ,COD_COMP = @COD_COMP
   ,COD_PLAN_OPT = @COD_PLAN_OPT
   ,MODIFY_DATE = current_timestamp
WHERE COD_PLAN = @COD_PLAN
AND ACTIVE = 1

SELECT
	@COD_PLAN AS COD_PLAN

END

SELECT
	@COD_PLAN AS COD_PLAN

END;

GO


IF OBJECT_ID('[SP_GW_ASS_PLAN_EC]') IS NOT NULL
DROP PROCEDURE [SP_GW_ASS_PLAN_EC]

GO

CREATE PROCEDURE [dbo].[SP_GW_ASS_PLAN_EC]           
/*----------------------------------------------------------------------------------------          
Procedure Name: [SP_GW_ASS_PLAN_EC]          
Project.......: TKPP          
------------------------------------------------------------------------------------------          
Author                          VERSION        Date                            Description          
------------------------------------------------------------------------------------------          
Caike Uchôa                       V1         08/06/2020                          Creation          
------------------------------------------------------------------------------------------*/         
(      
@COD_PLAN INT,      
@COD_EC INT,      
@COD_AFFILIATOR INT      
)      
AS      
BEGIN
  
      
      
DECLARE @COD_AFF_PLAN INT;
  
      
DECLARE @TP_RATES_EC AS dbo.TP_RATES_EC_MODEL_EQUIPMENT
  
      
DECLARE @COD_DEPTO_BRANCH INT;
  
      
DECLARE @COD_USER INT;

SELECT
	@COD_AFF_PLAN = COD_AFFILIATOR
FROM [PLAN]
WHERE COD_PLAN = @COD_PLAN
AND ACTIVE = 1;
IF @COD_AFF_PLAN <> @COD_AFFILIATOR
THROW 61064, 'INVALID PLAN FOR THIS AFFILIATOR OR PLAN IS INACTIVE', 1;


IF (SELECT
			COUNT(*)
		FROM COMMERCIAL_ESTABLISHMENT
		WHERE COD_EC = @COD_EC
		AND COD_AFFILIATOR = @COD_AFFILIATOR)
	= 0
THROW 61065, 'INVALID MERCHANT FOR THIS AFFILIATOR', 1;

INSERT INTO @TP_RATES_EC
	SELECT
		TAX_PLAN.INTERVAL
	   ,TAX_PLAN.PARCENTAGE
	   ,TAX_PLAN.QTY_INI_PLOTS
	   ,TAX_PLAN.QTY_FINAL_PLOTS
	   ,TAX_PLAN.ANTICIPATION_PERCENTAGE
	   ,TAX_PLAN.COD_TTYPE
	   ,TAX_PLAN.COD_SOURCE_TRAN
	   ,@COD_AFFILIATOR
	   ,TAX_PLAN.COD_BRAND
	   ,[PLAN].COD_T_PLAN
	   ,TAX_PLAN.RATE
	   ,[PLAN].COD_PLAN
	   ,TAX_PLAN.COD_MODEL
	FROM [PLAN]
	JOIN TAX_PLAN
		ON TAX_PLAN.COD_PLAN = [PLAN].COD_PLAN
	WHERE TAX_PLAN.ACTIVE = 1
	AND [PLAN].COD_PLAN = @COD_PLAN

EXEC SP_GW_VALIDATE_PLAN_EC_AFF_MODEL_EQUIPMENT @TP_RATES_EC;


SELECT
	@COD_DEPTO_BRANCH = COD_DEPTO_BRANCH
FROM COMMERCIAL_ESTABLISHMENT
JOIN BRANCH_EC
	ON BRANCH_EC.COD_EC = COMMERCIAL_ESTABLISHMENT.COD_EC
JOIN DEPARTMENTS_BRANCH
	ON DEPARTMENTS_BRANCH.COD_BRANCH = BRANCH_EC.COD_BRANCH
WHERE COMMERCIAL_ESTABLISHMENT.COD_EC = @COD_EC

SELECT
	@COD_USER = COD_USER_INT
FROM ACCESS_APPAPI
WHERE COD_AFFILIATOR = @COD_AFFILIATOR

IF (SELECT
			COUNT(*)
		FROM ASS_TAX_DEPART
		WHERE COD_DEPTO_BRANCH = @COD_DEPTO_BRANCH
		AND ACTIVE = 1)
	> 0
UPDATE ASS_TAX_DEPART
SET ACTIVE = 0
WHERE COD_DEPTO_BRANCH = @COD_DEPTO_BRANCH
AND ACTIVE = 1;


INSERT INTO ASS_TAX_DEPART (INTERVAL,
PARCENTAGE,
QTY_INI_PLOTS,
QTY_FINAL_PLOTS,
ANTICIPATION_PERCENTAGE,
COD_TTYPE,
COD_SOURCE_TRAN,
COD_BRAND,
RATE,
ACTIVE,
COD_PLAN,
COD_DEPTO_BRANCH,
COD_USER,
COD_MODEL)
	SELECT
		TAX_PLAN.INTERVAL
	   ,TAX_PLAN.PARCENTAGE
	   ,TAX_PLAN.QTY_INI_PLOTS
	   ,TAX_PLAN.QTY_FINAL_PLOTS
	   ,TAX_PLAN.ANTICIPATION_PERCENTAGE
	   ,TAX_PLAN.COD_TTYPE
	   ,TAX_PLAN.COD_SOURCE_TRAN
	   ,TAX_PLAN.COD_BRAND
	   ,TAX_PLAN.RATE
	   ,1
	   ,[PLAN].COD_PLAN
	   ,@COD_DEPTO_BRANCH
	   ,@COD_USER
	   ,TAX_PLAN.COD_MODEL
	FROM [PLAN]
	JOIN TAX_PLAN
		ON TAX_PLAN.COD_PLAN = [PLAN].COD_PLAN
	WHERE TAX_PLAN.ACTIVE = 1
	AND [PLAN].COD_PLAN = @COD_PLAN



END

GO

IF OBJECT_ID('SP_GW_ASS_PLAN_EC_MODEL_EQUIPMENT') IS NOT NULL
DROP PROCEDURE SP_GW_ASS_PLAN_EC_MODEL_EQUIPMENT
GO
CREATE PROCEDURE [dbo].[SP_GW_ASS_PLAN_EC_MODEL_EQUIPMENT]     
/*----------------------------------------------------------------------------------------    
Procedure Name: [SP_GW_ASS_PLAN_EC_MODEL_EQUIPMENT]    
Project.......: TKPP    
------------------------------------------------------------------------------------------    
Author                          VERSION        Date                            Description    
------------------------------------------------------------------------------------------    
Marcus Gall						V1			2020-07-13		ET-921: Handle Plan by Equipment
------------------------------------------------------------------------------------------*/   
(
@COD_PLAN INT,
@COD_EC INT,
@COD_AFFILIATOR INT
)
AS
BEGIN

DECLARE @COD_AFF_PLAN INT;
DECLARE @TP_RATES_EC_MODEL_EQUIPMENT AS dbo.TP_RATES_EC_MODEL_EQUIPMENT;
DECLARE @COD_DEPTO_BRANCH INT;
DECLARE @COD_USER INT;

SELECT
	@COD_AFF_PLAN = COD_AFFILIATOR
FROM [PLAN]
WHERE COD_PLAN = @COD_PLAN
AND ACTIVE = 1;
IF @COD_AFF_PLAN <> @COD_AFFILIATOR
THROW 61064, 'INVALID PLAN FOR THIS AFFILIATOR OR PLAN IS INACTIVE', 1;


IF (SELECT
			COUNT(*)
		FROM COMMERCIAL_ESTABLISHMENT
		WHERE COD_EC = @COD_EC
		AND COD_AFFILIATOR = @COD_AFFILIATOR)
	= 0
THROW 61065, 'INVALID MERCHANT FOR THIS AFFILIATOR', 1;

INSERT INTO @TP_RATES_EC_MODEL_EQUIPMENT
	SELECT
		TAX_PLAN.INTERVAL
	   ,TAX_PLAN.PARCENTAGE
	   ,TAX_PLAN.QTY_INI_PLOTS
	   ,TAX_PLAN.QTY_FINAL_PLOTS
	   ,TAX_PLAN.ANTICIPATION_PERCENTAGE
	   ,TAX_PLAN.COD_TTYPE
	   ,TAX_PLAN.COD_SOURCE_TRAN
	   ,@COD_AFFILIATOR
	   ,TAX_PLAN.COD_BRAND
	   ,[PLAN].COD_T_PLAN
	   ,TAX_PLAN.RATE
	   ,[PLAN].COD_PLAN
	   ,TAX_PLAN.COD_MODEL
	FROM [PLAN]
	JOIN TAX_PLAN
		ON TAX_PLAN.COD_PLAN = [PLAN].COD_PLAN
	WHERE [PLAN].COD_PLAN = @COD_PLAN
	AND TAX_PLAN.ACTIVE = 1;

EXEC SP_GW_VALIDATE_PLAN_EC_AFF_MODEL_EQUIPMENT @TP_RATES_EC_MODEL_EQUIPMENT;

SELECT
	@COD_DEPTO_BRANCH = COD_DEPTO_BRANCH
FROM COMMERCIAL_ESTABLISHMENT
JOIN BRANCH_EC
	ON BRANCH_EC.COD_EC = COMMERCIAL_ESTABLISHMENT.COD_EC
JOIN DEPARTMENTS_BRANCH
	ON DEPARTMENTS_BRANCH.COD_BRANCH = BRANCH_EC.COD_BRANCH
WHERE COMMERCIAL_ESTABLISHMENT.COD_EC = @COD_EC;

SELECT
	@COD_USER = COD_USER_INT
FROM ACCESS_APPAPI
WHERE COD_AFFILIATOR = @COD_AFFILIATOR;

UPDATE ASS_TAX_DEPART
SET ACTIVE = 0
WHERE COD_DEPTO_BRANCH = @COD_DEPTO_BRANCH
AND ACTIVE = 1;

INSERT INTO ASS_TAX_DEPART (INTERVAL,
PARCENTAGE,
QTY_INI_PLOTS,
QTY_FINAL_PLOTS,
ANTICIPATION_PERCENTAGE,
COD_TTYPE,
COD_SOURCE_TRAN,
COD_BRAND,
RATE,
ACTIVE,
COD_PLAN,
COD_DEPTO_BRANCH,
COD_USER,
COD_MODEL)
	SELECT
		TAX_PLAN.INTERVAL
	   ,TAX_PLAN.PARCENTAGE
	   ,TAX_PLAN.QTY_INI_PLOTS
	   ,TAX_PLAN.QTY_FINAL_PLOTS
	   ,TAX_PLAN.ANTICIPATION_PERCENTAGE
	   ,TAX_PLAN.COD_TTYPE
	   ,TAX_PLAN.COD_SOURCE_TRAN
	   ,TAX_PLAN.COD_BRAND
	   ,TAX_PLAN.RATE
	   ,1
	   ,[PLAN].COD_PLAN
	   ,@COD_DEPTO_BRANCH
	   ,@COD_USER
	   ,TAX_PLAN.COD_MODEL
	FROM [PLAN]
	JOIN TAX_PLAN
		ON TAX_PLAN.COD_PLAN = [PLAN].COD_PLAN
	WHERE [PLAN].COD_PLAN = @COD_PLAN
	AND TAX_PLAN.ACTIVE = 1

END
GO

IF OBJECT_ID('[SP_GW_LS_DETAILS_PLAN_ESTABLISHMENT]') IS NOT NULL
DROP PROCEDURE [SP_GW_LS_DETAILS_PLAN_ESTABLISHMENT]

GO

CREATE PROCEDURE [dbo].[SP_GW_LS_DETAILS_PLAN_ESTABLISHMENT]           
/*----------------------------------------------------------------------------------------          
Procedure Name: [SP_GW_LS_DETAILS_PLAN_ESTABLISHMENT]    Project.......: TKPP          
------------------------------------------------------------------------------------------          
Author                          VERSION        Date                            Description          
------------------------------------------------------------------------------------------          
Marcus Gall                       V1         19/06/2020                          Creation          
------------------------------------------------------------------------------------------*/         
(      
@COD_EC INT,      
@COD_AFFILIATOR INT      
)      
AS      
BEGIN
  
      
      
      
IF( SELECT
		COUNT(*)
	FROM [PLAN]
	JOIN ASS_TAX_DEPART
		ON ASS_TAX_DEPART.COD_PLAN = [PLAN].COD_PLAN
	JOIN PLAN_CATEGORY
		ON PLAN_CATEGORY.COD_PLAN_CATEGORY = [PLAN].COD_PLAN_CATEGORY
	JOIN TYPE_PLAN
		ON TYPE_PLAN.COD_T_PLAN = [PLAN].COD_T_PLAN
	JOIN TRANSACTION_TYPE
		ON TRANSACTION_TYPE.COD_TTYPE = ASS_TAX_DEPART.COD_TTYPE
	JOIN BRAND
		ON BRAND.COD_BRAND = ASS_TAX_DEPART.COD_BRAND
	JOIN SOURCE_TRANSACTION
		ON SOURCE_TRANSACTION.COD_SOURCE_TRAN = ASS_TAX_DEPART.COD_SOURCE_TRAN
	JOIN DEPARTMENTS_BRANCH
		ON DEPARTMENTS_BRANCH.COD_DEPTO_BRANCH = ASS_TAX_DEPART.COD_DEPTO_BRANCH
	JOIN BRANCH_EC
		ON BRANCH_EC.COD_BRANCH = DEPARTMENTS_BRANCH.COD_BRANCH
	JOIN COMMERCIAL_ESTABLISHMENT
		ON COMMERCIAL_ESTABLISHMENT.COD_EC = BRANCH_EC.COD_EC
	JOIN AFFILIATOR
		ON AFFILIATOR.COD_AFFILIATOR = COMMERCIAL_ESTABLISHMENT.COD_AFFILIATOR
	WHERE COMMERCIAL_ESTABLISHMENT.COD_EC = @COD_EC
	AND ASS_TAX_DEPART.ACTIVE = 1)
= 0
THROW 61067, 'THIS ESTABLISHMENT DOES NOT HAVE AN ASSOCIATED PLAN', 1;


SELECT
	PLANS.COD_PLAN
   ,PLANS.[NAME_PLAN]
   ,PLANS.[DESCRIPTION]
   ,PLANS.CATEGORY
   ,PLANS.TYPE_PLAN
   ,PLANS.BRAND_GROUP
   ,PLANS.TRANSACTION_TYPE
   ,PLANS.QTY_INI_PLOTS
   ,PLANS.QTY_FINAL_PLOTS
   ,SUM(PLANS.ANTICIPATION_PERCENTAGE) AS ANTICIPATION_PERCENTAGE
   ,SUM(INTERVAL_DEBIT) AS INTERVAL_DEBIT
   ,SUM(INTERVAL_CREDIT_A_VISTA) AS INTERVAL_CREDIT_A_VISTA
   ,SUM(INTERVAL_CREDIT_PARCELADO) AS INTERVAL_CREDIT_PARCELADO
   ,SUM(INTERVAL_ONLINE) AS INTERVAL_ONLINE
   ,SUM(PLANS.PARCENTAGE) AS PARCENTAGE
   ,SUM(PLANS.RATE) AS RATE
   ,PLANS.PLAN_OPTION AS PLAN_OPTION
   ,PLANS.EQUIPMENT_MODEL
FROM (SELECT
		COMMERCIAL_ESTABLISHMENT.COD_EC
	   ,[PLAN].COD_PLAN
	   ,[PLAN].CODE AS [NAME_PLAN]
	   ,[PLAN].[DESCRIPTION]
	   ,PLAN_CATEGORY.CATEGORY
	   ,TYPE_PLAN.CODE AS TYPE_PLAN
	   ,BRAND.[GROUP] AS BRAND_GROUP
	   ,TRANSACTION_TYPE.CODE AS TRANSACTION_TYPE
	   ,ASS_TAX_DEPART.QTY_INI_PLOTS
	   ,ASS_TAX_DEPART.QTY_FINAL_PLOTS
	   ,CASE
			WHEN (SOURCE_TRANSACTION.COD_SOURCE_TRAN = 1) THEN 'SITE'
			ELSE EQUIPMENT_MODEL.CODIGO
		END AS EQUIPMENT_MODEL
	   ,ASS_TAX_DEPART.ANTICIPATION_PERCENTAGE
	   ,CASE
			WHEN ASS_TAX_DEPART.QTY_INI_PLOTS = 1 AND
				ASS_TAX_DEPART.QTY_FINAL_PLOTS = 1 AND
				ASS_TAX_DEPART.COD_TTYPE = 2 AND
				SOURCE_TRANSACTION.COD_SOURCE_TRAN = 2 THEN ASS_TAX_DEPART.INTERVAL
			ELSE 0
		END AS [INTERVAL_DEBIT]
	   ,CASE
			WHEN ASS_TAX_DEPART.QTY_INI_PLOTS = 1 AND
				ASS_TAX_DEPART.QTY_FINAL_PLOTS = 1 AND
				ASS_TAX_DEPART.COD_TTYPE = 1 AND
				SOURCE_TRANSACTION.COD_SOURCE_TRAN = 2 THEN ASS_TAX_DEPART.INTERVAL
			ELSE 0
		END AS [INTERVAL_CREDIT_A_VISTA]
	   ,CASE
			WHEN ASS_TAX_DEPART.QTY_INI_PLOTS >= 1 AND
				ASS_TAX_DEPART.QTY_FINAL_PLOTS > 1 AND
				ASS_TAX_DEPART.COD_TTYPE = 1 AND
				SOURCE_TRANSACTION.COD_SOURCE_TRAN = 2 THEN ASS_TAX_DEPART.INTERVAL
			ELSE 0
		END AS [INTERVAL_CREDIT_PARCELADO]
	   ,CASE
			WHEN SOURCE_TRANSACTION.COD_SOURCE_TRAN = 1 THEN ASS_TAX_DEPART.INTERVAL
			ELSE 0
		END AS [INTERVAL_ONLINE]
	   ,PARCENTAGE
	   ,RATE
	   ,PLAN_OPTION.CODE AS PLAN_OPTION
	FROM [PLAN]
	JOIN ASS_TAX_DEPART
		ON ASS_TAX_DEPART.COD_PLAN = [PLAN].COD_PLAN
	JOIN PLAN_CATEGORY
		ON PLAN_CATEGORY.COD_PLAN_CATEGORY = [PLAN].COD_PLAN_CATEGORY
	JOIN TYPE_PLAN
		ON TYPE_PLAN.COD_T_PLAN = [PLAN].COD_T_PLAN
	JOIN TRANSACTION_TYPE
		ON TRANSACTION_TYPE.COD_TTYPE = ASS_TAX_DEPART.COD_TTYPE
	JOIN BRAND
		ON BRAND.COD_BRAND = ASS_TAX_DEPART.COD_BRAND
	JOIN SOURCE_TRANSACTION
		ON SOURCE_TRANSACTION.COD_SOURCE_TRAN = ASS_TAX_DEPART.COD_SOURCE_TRAN
	JOIN DEPARTMENTS_BRANCH
		ON DEPARTMENTS_BRANCH.COD_DEPTO_BRANCH = ASS_TAX_DEPART.COD_DEPTO_BRANCH
	JOIN BRANCH_EC
		ON BRANCH_EC.COD_BRANCH = DEPARTMENTS_BRANCH.COD_BRANCH
	JOIN COMMERCIAL_ESTABLISHMENT
		ON COMMERCIAL_ESTABLISHMENT.COD_EC = BRANCH_EC.COD_EC
	JOIN AFFILIATOR
		ON AFFILIATOR.COD_AFFILIATOR = COMMERCIAL_ESTABLISHMENT.COD_AFFILIATOR
	LEFT JOIN EQUIPMENT_MODEL
		ON EQUIPMENT_MODEL.COD_MODEL = ASS_TAX_DEPART.COD_MODEL
	LEFT JOIN PLAN_OPTION
		ON PLAN_OPTION.COD_PLAN_OPT = [PLAN].COD_PLAN_OPT
	WHERE ASS_TAX_DEPART.ACTIVE = 1) AS PLANS
WHERE PLANS.COD_EC = @COD_EC
GROUP BY PLANS.COD_PLAN
		,PLANS.[NAME_PLAN]
		,PLANS.[DESCRIPTION]
		,PLANS.CATEGORY
		,PLANS.TYPE_PLAN
		,PLANS.BRAND_GROUP
		,PLANS.TRANSACTION_TYPE
		,PLANS.QTY_INI_PLOTS
		,PLANS.QTY_FINAL_PLOTS
		,PLANS.PLAN_OPTION
		,PLANS.EQUIPMENT_MODEL
END


GO

IF OBJECT_ID('SP_GW_DETAILS_PLAN_AFF_MODEL_EQUIPMENT') IS NOT NULL
DROP PROCEDURE SP_GW_DETAILS_PLAN_AFF_MODEL_EQUIPMENT
GO
CREATE PROCEDURE [dbo].[SP_GW_DETAILS_PLAN_AFF_MODEL_EQUIPMENT]     
/*----------------------------------------------------------------------------------------    
Procedure Name: [SP_GW_DETAILS_PLAN_AFF_MODEL_EQUIPMENT]    
Project.......: TKPP    
------------------------------------------------------------------------------------------    
Author                          VERSION        Date                            Description    
------------------------------------------------------------------------------------------    
Marcus Gall						V1			2020-07-13		ET-921: Handle Plan by Equipment
------------------------------------------------------------------------------------------*/   
(
@COD_AFFILIATOR INT
)
AS
BEGIN

SELECT
	[PLAN].CODE AS [NAME_PLAN]
   ,TYPE_PLAN.CODE AS TYPE_PLAN
   ,PLAN_TAX_AFFILIATOR.ANTICIPATION_PERCENTAGE
   ,PLAN_TAX_AFFILIATOR.INTERVAL
   ,PLAN_TAX_AFFILIATOR.RATE
   ,PLAN_TAX_AFFILIATOR.[PERCENTAGE]
   ,PLAN_TAX_AFFILIATOR.QTY_INI_PLOTS
   ,PLAN_TAX_AFFILIATOR.QTY_FINAL_PLOTS
   ,TRANSACTION_TYPE.CODE AS TRANSACTION_TYPE
   ,BRAND.[GROUP] AS BRAND_GROUP
   ,SOURCE_TRANSACTION.CODE AS [SOURCE_TRAN]
   ,PLAN_OPTION.CODE AS [PLAN_OPTION]
   ,EQUIPMENT_MODEL.CODIGO AS [EQUIPMENT_MODEL]
FROM [PLAN]
JOIN PLAN_TAX_AFFILIATOR
	ON PLAN_TAX_AFFILIATOR.COD_PLAN = [PLAN].COD_PLAN
JOIN TYPE_PLAN
	ON TYPE_PLAN.COD_T_PLAN = [PLAN].COD_T_PLAN
JOIN TRANSACTION_TYPE
	ON TRANSACTION_TYPE.COD_TTYPE = PLAN_TAX_AFFILIATOR.COD_TTYPE
JOIN BRAND
	ON BRAND.COD_BRAND = PLAN_TAX_AFFILIATOR.COD_BRAND
JOIN SOURCE_TRANSACTION
	ON SOURCE_TRANSACTION.COD_SOURCE_TRAN = PLAN_TAX_AFFILIATOR.COD_SOURCE_TRAN
JOIN AFFILIATOR
	ON AFFILIATOR.COD_AFFILIATOR = PLAN_TAX_AFFILIATOR.COD_AFFILIATOR
LEFT JOIN PLAN_OPTION
	ON PLAN_OPTION.COD_PLAN_OPT = [PLAN].COD_PLAN_OPT
LEFT JOIN EQUIPMENT_MODEL
	ON EQUIPMENT_MODEL.COD_MODEL = PLAN_TAX_AFFILIATOR.COD_MODEL
WHERE AFFILIATOR.COD_AFFILIATOR = @COD_AFFILIATOR
AND PLAN_TAX_AFFILIATOR.ACTIVE = 1
AND [PLAN].COD_PLAN_CATEGORY <> 3
END
GO

IF OBJECT_ID('SP_GW_LS_PLAN_MODEL_EQUIPMENT') IS NOT NULL
DROP PROCEDURE SP_GW_LS_PLAN_MODEL_EQUIPMENT
GO
CREATE PROCEDURE [dbo].[SP_GW_LS_PLAN_MODEL_EQUIPMENT]          
/*----------------------------------------------------------------------------------------          
Procedure Name: [SP_GW_LS_PLAN_MODEL_EQUIPMENT]          
Project.......: TKPP          
------------------------------------------------------------------------------------------          
Author                          VERSION        Date                            Description          
------------------------------------------------------------------------------------------          
Marcus Gall						V1			2020-07-13		ET-921: Handle Plan by Equipment
------------------------------------------------------------------------------------------*/         
          
(          
@CODCOMP INT,          
@COD_PLAN_CATEGORY INT = 1,          
@COD_AFFILIATOR INT = null ,
@QTD_BY_PAGE          INT,     
@NEXT_PAGE            INT    
)          
AS          
          
 DECLARE @QUERY NVARCHAR(MAX);
          
          
BEGIN

SET @QUERY =
'select         
 COD_PLAN,        
 [PLAN].CODE AS NAME,        
 ACTIVE ,        
 TYPE_PLAN.CODE AS TYPE_PLAN
 from [PLAN]         
 INNER JOIN TYPE_PLAN ON TYPE_PLAN.COD_T_PLAN = [PLAN].COD_T_PLAN 
 INNER JOIN PLAN_OPTION ON PLAN_OPTION.COD_PLAN_OPT = [PLAN].COD_PLAN_OPT
 WHERE COD_COMP = ' + CAST(@CODCOMP AS VARCHAR)
          
  IF @COD_PLAN_CATEGORY IS NOT NULL
SET @QUERY = @QUERY + ' AND COD_PLAN_CATEGORY = ' + CAST(@COD_PLAN_CATEGORY AS VARCHAR)
          
  IF @COD_AFFILIATOR IS NOT NULL
SET @QUERY = @QUERY + ' AND COD_AFFILIATOR = CAST(@COD_AFFILIATOR AS VARCHAR) '
SET @QUERY = @QUERY + '   ORDER BY [PLAN].CODE  OFFSET (@NEXT_PAGE - 1) * @QTD_BY_PAGE ROWS FETCH NEXT @QTD_BY_PAGE ROWS ONLY'

EXEC sp_executesql @QUERY
				  ,N'          
  @CODCOMP INT,          
  @COD_PLAN_CATEGORY INT,          
  @COD_AFFILIATOR INT,
  @NEXT_PAGE INT,
  @QTD_BY_PAGE INT
  '
				  ,@CODCOMP = @CODCOMP
				  ,@COD_PLAN_CATEGORY = @COD_PLAN_CATEGORY
				  ,@COD_AFFILIATOR = @COD_AFFILIATOR
				  ,@NEXT_PAGE = @NEXT_PAGE
				  ,@QTD_BY_PAGE = @QTD_BY_PAGE

END;
GO

IF OBJECT_ID('[SP_GW_LS_PLAN]') IS NOT NULL
DROP PROCEDURE [SP_GW_LS_PLAN]

GO
CREATE PROCEDURE [dbo].[SP_GW_LS_PLAN]                
/*----------------------------------------------------------------------------------------                
Procedure Name: [SP_LS_PLAN]                
Project.......: TKPP                
------------------------------------------------------------------------------------------                
Author                 Version  Date                            Description                
------------------------------------------------------------------------------------------                
Kennedy Alef   V1   27/07/2018        Creation                
Gian Luca Dalle Cort V2   15/08/2018        Changed                
Marcus Gall    V3   2020-06-25    ET-921: Handle Plan by Equipment    
------------------------------------------------------------------------------------------*/               
                
(                
@CODCOMP INT,                
@COD_PLAN_CATEGORY INT = 1,                
@COD_AFFILIATOR INT = null ,      
@QTD_BY_PAGE          INT,           
@NEXT_PAGE            INT          
)                
AS                
                
 DECLARE @QUERY NVARCHAR(MAX);
  
                
                
BEGIN

SET @QUERY =
'select               
 COD_PLAN,              
 [PLAN].CODE AS NAME,              
 ACTIVE ,              
 TYPE_PLAN.CODE AS TYPE_PLAN,  
 [PLAN_OPTION].CODE AS PLAN_OPTION  
FROM [PLAN]               
 INNER JOIN TYPE_PLAN ON TYPE_PLAN.COD_T_PLAN = [PLAN].COD_T_PLAN    
 LEFT JOIN PLAN_OPTION ON [PLAN].COD_PLAN_OPT = PLAN_OPTION.COD_PLAN_OPT  
 WHERE     
 ([PLAN].COD_PLAN_OPT IS NULL OR [PLAN].COD_PLAN_OPT = 3) AND  
 [PLAN].ACTIVE = 1 AND      
 COD_COMP = ' + CAST(@CODCOMP AS VARCHAR)
  
                
  IF @COD_PLAN_CATEGORY IS NOT NULL
SET @QUERY = @QUERY + ' AND COD_PLAN_CATEGORY = ' + CAST(@COD_PLAN_CATEGORY AS VARCHAR)
  
                
  IF @COD_AFFILIATOR IS NOT NULL
SET @QUERY = @QUERY + ' AND COD_AFFILIATOR = CAST(@COD_AFFILIATOR AS VARCHAR) '

SET @QUERY = @QUERY + '   ORDER BY [PLAN].COD_PLAN  OFFSET (@NEXT_PAGE - 1) * @QTD_BY_PAGE ROWS FETCH NEXT @QTD_BY_PAGE ROWS ONLY'



EXEC sp_executesql @QUERY
				  ,N'                
  @CODCOMP INT,                
  @COD_PLAN_CATEGORY INT,                
  @COD_AFFILIATOR INT,      
  @NEXT_PAGE INT,      
  @QTD_BY_PAGE INT      
  '
				  ,@CODCOMP = @CODCOMP
				  ,@COD_PLAN_CATEGORY = @COD_PLAN_CATEGORY
				  ,@COD_AFFILIATOR = @COD_AFFILIATOR
				  ,@NEXT_PAGE = @NEXT_PAGE
				  ,@QTD_BY_PAGE = @QTD_BY_PAGE

END;
GO

IF OBJECT_ID('SP_GW_LS_PLAN_OPTION') IS NOT NULL
DROP PROCEDURE SP_GW_LS_PLAN_OPTION
GO
CREATE PROCEDURE [dbo].[SP_GW_LS_PLAN_OPTION]            
/*----------------------------------------------------------------------------------------            
Procedure Name: [SP_LS_PLAN_OPTION]            
Project.......: TKPP            
------------------------------------------------------------------------------------------            
Author                 Version		Date                            Description            
------------------------------------------------------------------------------------------            
Marcus Gall				V1			2020-07-14    ET-921: Handle Plan by Equipment
------------------------------------------------------------------------------------------*/                       
AS           
BEGIN
SELECT
	COD_PLAN_OPT
   ,CODE
FROM PLAN_OPTION
WHERE CODE = 'TERMINAL_PLAN';
END;
GO
IF OBJECT_ID('[SP_GW_REG_AFFILIATOR_EC_WITH_USER]') IS NOT NULL
DROP PROCEDURE [SP_GW_REG_AFFILIATOR_EC_WITH_USER]
GO
CREATE PROCEDURE [dbo].[SP_GW_REG_AFFILIATOR_EC_WITH_USER]                        
/*----------------------------------------------------------------------------------------                        
Project.......: TKPP                        
------------------------------------------------------------------------------------------                        
Author                  VERSION        Date             Description                        
------------------------------------------------------------------------------------------                        
Luiz Aquino              V1            2020-04-08       Associar Plano e remover provedor                        
------------------------------------------------------------------------------------------*/                        
(                        
    @ACCESS_KEY VARCHAR(400),                        
    @COD_AFF INT,                        
    @CPF_CNPJ VARCHAR(100),                        
    @NAME VARCHAR(200),                        
    @TRADING_NAME VARCHAR(100),                        
    @DOCUMENT_TYPE VARCHAR(100),                        
    @EMAIL VARCHAR(100),                        
    @STATE_REG VARCHAR(100) = null,                        
    @MUN_REG VARCHAR(100) = null,                        
    @DOCUMENT VARCHAR(100) = NULL,                        
    @BIRTHDATE DATE,                        
    @TYPE_EC INT,                        
    @CODSEX INT,                        
    @ADDRESS VARCHAR(300),                        
    @NUMBER VARCHAR(100),                        
    @COMPLEMENT VARCHAR(200) = NULL,                        
    @REFPOINT VARCHAR(100) = null,                        
    @CEP VARCHAR(12),                        
    @COD_NEIGH INT,                        
    @BANKCODE VARCHAR(10),                        
    @DIGIT_AGENCY VARCHAR(100) = NULL,                        
    @AGENCY VARCHAR(100),                        
    @DIGIT_ACCOUNT VARCHAR(100) = NULL,                        
    @ACCOUNT VARCHAR(100),                        
    @ACCOUNT_TYPE INT,                        
    @COD_SEG INT,                        
    @TP_CONTACT TP_CONTACT_LIST READONLY,                        
    @TP_DOCUMENT TP_DOCUMENT_LIST READONLY,                        
    @COD_PLAN INT,                      
 @TYPE_PARTNER [TP_ITEM_PARTNER_REG] READONLY ,           
 --- USER INFORMATION           
 @COD_ACESS VARCHAR(100),            
    @CPF_CNPJ_USER VARCHAR(100),            
    @NAME_USER VARCHAR(200),           
    @EMAIL_USER VARCHAR(200),            
    @ALT_EMAIL VARCHAR(200) = null,          
    @MODULE INT  = 2,            
    @PERFIL INT = 11,            
    @CODSEX_USER INT ,            
    @COD_REQ INT = NULL,            
    @COD_SITUATION INT = NULL,            
 @TYPECLIENT [TP_MEET_COSTUMER] READONLY           
           
 )                        
AS                        
    DECLARE @IDEC INT;
  
                  
                    
                        
    DECLARE @IDBR INT;
  
                  
                    
                        
    DECLARE @IDEPART INT;
  
                  
                    
                        
    DECLARE @SEQ INT;
  
                  
                    
                        
    DECLARE @CONT INT;
  
                  
                    
                        
    DECLARE @TP_PLAN INT = NULL;
  
                  
                    
                        
    DECLARE @COD_MAIN_EC INT = NULL;
  
                  
                    
                        
    DECLARE @TRANSACTION_LIMIT DECIMAL(18, 2) = NULL;
  
                  
                    
                        
    DECLARE @TRANSACTION_DAILY DECIMAL(18, 2) = NULL;
  
                  
                    
                        
    DECLARE @COD_SALES_REP INT = NULL;
  
                  
                    
                        
    DECLARE @COD_PROVIDER_USER INT = NULL;
  
                  
                    
                        
    DECLARE @COD_BRANCH_BUSINESS INT = NULL;
  
                  
                    
                        
    DECLARE @TRANSACTION_MONTHLY DECIMAL(22, 2) = NULL;
  
                  
                    
                      
 DECLARE @COD_AFF_PLAN INT;
  
          
           
 DECLARE @EMAIL_RET VARCHAR(200);
  
            
              
 DECLARE @NAME_RET VARCHAR(200);
  
            
              
--     DECLARE @NUMBER VARCHAR(100);            
    DECLARE @CONT_USER INT;
  
            
    DECLARE @COD_USER_CAD INT;
  
            
    DECLARE @CODAFF_RET INT;
  
            
    DECLARE @NOTIFY_TCU INT;
  
            
    DECLARE @TCU_COMPLETE INT = 0
  
          
                    
                      
BEGIN
SELECT
	@CONT = COUNT(*)
   ,@IDEC = COMMERCIAL_ESTABLISHMENT.COD_EC
FROM COMMERCIAL_ESTABLISHMENT
JOIN COMPANY
	ON COMPANY.COD_COMP = COMMERCIAL_ESTABLISHMENT.COD_COMP
WHERE COMPANY.ACCESS_KEY = @ACCESS_KEY
AND COMMERCIAL_ESTABLISHMENT.COD_AFFILIATOR = @COD_AFF
AND COMMERCIAL_ESTABLISHMENT.CPF_CNPJ = @CPF_CNPJ
GROUP BY COMMERCIAL_ESTABLISHMENT.COD_EC

IF @CONT > 0
THROW 80685, 'DUPLICATE ESTABLISHMENT', 1;

SELECT
	@COD_BRANCH_BUSINESS = COD_BRANCH_BUSINESS
FROM SEGMENTS
WHERE COD_SEG = @COD_SEG;

IF @COD_SEG IS NULL
	OR @COD_BRANCH_BUSINESS IS NULL
THROW 80686, 'INVALID SEGMENT', 1;

SELECT
	@TRANSACTION_LIMIT = TRANSACTION_LIMIT
   ,@TRANSACTION_DAILY = LIMIT_TRANSACTION_DIALY
FROM TRANSACTION_LIMIT
JOIN COMPANY
	ON COMPANY.COD_COMP = TRANSACTION_LIMIT.COD_COMP
WHERE ACTIVE = 1
AND COD_TYPE_ESTAB = @TYPE_EC
AND COMPANY.ACCESS_KEY = @ACCESS_KEY;

SELECT
	@TRANSACTION_MONTHLY = LIMIT_TRANSACTION_MONTHLY
FROM SEGMENTS
WHERE COD_SEG = @COD_SEG

IF @TRANSACTION_LIMIT IS NULL
	OR @TRANSACTION_DAILY IS NULL
	OR @TRANSACTION_MONTHLY IS NULL
THROW 80687, 'INVALID VALUES FOR TRANSACTION LIMIT OR TRANSACTION LIMIT DAILY TRANSACTION MONTHLY', 1;

SELECT TOP 1
	@COD_SALES_REP = COD_SALES_REP
FROM SALES_REPRESENTATIVE
WHERE DEFAULT_SR = 1
AND ACTIVE = 1

IF @COD_SALES_REP IS NULL
THROW 80690, 'INVALID SALES REPRESENTATIVE', 1;

SELECT
	@COD_PROVIDER_USER = COD_USER_INT
FROM ACCESS_APPAPI
WHERE COD_AFFILIATOR = @COD_AFF
AND ACTIVE = 1

IF @COD_PROVIDER_USER IS NULL
THROW 80690, 'INVALID PROVIDER USER', 1;

IF (SELECT
			COUNT(*)
		FROM USERS
		WHERE COD_ACCESS = UPPER(@COD_ACESS))
	> 0
THROW 80693, 'USERNAME ALREADY USED', 1;

IF (SELECT
			COUNT(*)
		FROM USERS
		WHERE EMAIL = UPPER(@EMAIL_USER)
		AND COD_AFFILIATOR = @COD_AFF)
	> 0
THROW 80694, 'EMAIL ALREADY USED', 1;



--  SELECT @TP_PLAN = [PLAN].COD_T_PLAN ,                      
--@COD_AFF_PLAN = [PLAN].COD_AFFILIATOR                      
--  FROM [PLAN]                        
--  WHERE COD_PLAN = @COD_PLAN                        



--  IF @TP_PLAN IS NULL OR @COD_AFF_PLAN <> @COD_AFF                        
--      THROW 80689, 'INVALID PLAN', 1;                        
BEGIN
EXEC SP_VALIDATE_PLAN_AFF_TOASS @COD_PLAN = @COD_PLAN
							   ,@COD_AFF = @COD_AFF
END;
SELECT
	@SEQ = NEXT VALUE FOR [SEQ_ECCODE];

INSERT INTO COMMERCIAL_ESTABLISHMENT (CODE,
NAME,
TRADING_NAME,
CPF_CNPJ,
DOCUMENT,
DOCUMENT_TYPE,
EMAIL,
STATE_REGISTRATION,
MUNICIPAL_REGISTRATION,
COD_SEG,
TRANSACTION_LIMIT,
LIMIT_TRANSACTION_DIALY,
BIRTHDATE,
COD_COMP,
COD_TYPE_ESTAB,
SEC_FACTOR_AUTH_ACTIVE,
COD_SEX,
COD_AFFILIATOR,
COD_RISK_SITUATION,
COD_SALES_REP,
COD_SIT_REQ,
COD_SITUATION,
COD_USER,
IS_PROVIDER,
TRANSACTION_ONLINE,
COD_BRANCH_BUSINESS,
LIMIT_TRANSACTION_MONTHLY,
NOTE_FINANCE_SCHEDULE)
	SELECT
		@SEQ
	   ,@NAME
	   ,@TRADING_NAME
	   ,@CPF_CNPJ
	   ,@DOCUMENT
	   ,@DOCUMENT_TYPE
	   ,@EMAIL
	   ,@STATE_REG
	   ,@MUN_REG
	   ,@COD_SEG
	   ,@TRANSACTION_LIMIT
	   ,@TRANSACTION_DAILY
	   ,@BIRTHDATE
	   ,COD_COMP
	   ,@TYPE_EC
	   ,0
	   ,@CODSEX
	   ,@COD_AFF
	   ,1
	   ,@COD_SALES_REP
	   ,11
	   ,24
	   ,@COD_PROVIDER_USER
	   ,0
	   ,0
	   ,@COD_BRANCH_BUSINESS
	   ,@TRANSACTION_MONTHLY
	   ,'Pendente aprovação dos documentos'
	FROM COMPANY
	WHERE COMPANY.ACCESS_KEY = @ACCESS_KEY

IF @@rowcount < 1
THROW 60000, 'COULD NOT REGISTER PROVIDER', 1;

SET @IDEC = @@identity;

SELECT
	@SEQ = NEXT VALUE FOR [SEQ_BRANCHCODE];

INSERT INTO [BRANCH_EC] (CODE,
NAME,
TRADING_NAME,
CPF_CNPJ,
DOCUMENT,
DOCUMENT_TYPE,
EMAIL,
STATE_REGISTRATION,
MUNICIPAL_REGISTRATION,
TRANSACTION_LIMIT,
LIMIT_TRANSACTION_DIALY,
BIRTHDATE,
COD_EC,
TYPE_BRANCH,
COD_SEX,
COD_TYPE_ESTAB,
COD_TYPE_REC,
COD_USER)
	VALUES (@SEQ, @NAME, @TRADING_NAME, @CPF_CNPJ, @DOCUMENT, @DOCUMENT_TYPE, @EMAIL, @STATE_REG, @MUN_REG, @TRANSACTION_LIMIT, @TRANSACTION_DAILY, @BIRTHDATE, @IDEC, 'PRINCIPAL', @CODSEX, @TYPE_EC, 1, @COD_PROVIDER_USER)

IF @@rowcount < 1
THROW 60000, 'COULD NOT REGISTER BRANCH_EC', 1;

SELECT
	@IDBR = @@identity;

INSERT INTO BANK_DETAILS_EC (AGENCY, DIGIT_AGENCY, COD_TYPE_ACCOUNT, COD_EC, COD_BANK, ACCOUNT,
DIGIT_ACCOUNT, COD_USER, COD_BRANCH)
	SELECT
		@AGENCY
	   ,@DIGIT_AGENCY
	   ,@ACCOUNT_TYPE
	   ,@IDEC
	   ,COD_BANK
	   ,@ACCOUNT
	   ,@DIGIT_ACCOUNT
	   ,@COD_PROVIDER_USER
	   ,@IDBR
	FROM BANKS
	WHERE BANKS.CODE = @BANKCODE

IF @@rowcount < 1
THROW 60000, 'COULD NOT REGISTER BANK_DETAILS_EC', 1

UPDATE ADDRESS_BRANCH
SET ACTIVE = 0
   ,MODIFY_DATE = GETDATE()
WHERE ACTIVE = 1
AND COD_BRANCH = @IDBR

INSERT INTO ADDRESS_BRANCH (ADDRESS, NUMBER, COMPLEMENT, CEP, COD_NEIGH, REFERENCE_POINT, COD_BRANCH)
	VALUES (@ADDRESS, @NUMBER, @COMPLEMENT, @CEP, @COD_NEIGH, @REFPOINT, @IDBR)

IF @@rowcount < 1
THROW 60000, 'COULD NOT REGISTER ADDRESS_BRANCH ', 1;

INSERT INTO DEPARTMENTS_BRANCH (COD_BRANCH, COD_DEPARTS)
	VALUES (@IDBR, 1)

SELECT
	@IDEPART = @@identity;

IF @@rowcount < 1
THROW 60000, 'COULD NOT REGISTER DEPARTMENTS_BRANCH', 1;

INSERT INTO CONTACT_BRANCH (NUMBER, COD_TP_CONT, COD_BRANCH, COD_OPER, DDD, DDI)
	SELECT
		NUMBER
	   ,CONTACT_TYPE
	   ,@IDBR
	   ,COD_OPER
	   ,DDD
	   ,DDI
	FROM @TP_CONTACT;

IF @@rowcount < 1
THROW 60000, 'COULD NOT REGISTER CONTACT_BRANCH', 1;

UPDATE ASS_TAX_DEPART
SET ACTIVE = 0
WHERE COD_DEPTO_BRANCH = @IDEPART;

UPDATE DEPARTMENTS_BRANCH
SET COD_PLAN = @COD_PLAN
   ,COD_T_PLAN = (SELECT
			COD_T_PLAN
		FROM [PLAN]
		WHERE COD_PLAN = @COD_PLAN)
WHERE COD_DEPTO_BRANCH = @IDEPART

INSERT INTO ASS_TAX_DEPART (COD_TTYPE,
QTY_INI_PLOTS,
QTY_FINAL_PLOTS,
PARCENTAGE,
RATE,
INTERVAL,
COD_DEPTO_BRANCH,
COD_USER,
COD_PLAN,
EFFECTIVE_PERCENTAGE,
ANTICIPATION_PERCENTAGE,
COD_BRAND,
COD_SOURCE_TRAN,
COD_MODEL)
	SELECT
		COD_TTYPE
	   ,QTY_INI_PLOTS
	   ,QTY_FINAL_PLOTS
	   ,PARCENTAGE
	   ,RATE
	   ,INTERVAL
	   ,@IDEPART
	   ,@COD_PROVIDER_USER
	   ,@COD_PLAN
	   ,EFFECTIVE_PERCENTAGE
	   ,ANTICIPATION_PERCENTAGE
	   ,COD_BRAND
	   ,COD_SOURCE_TRAN
	   ,COD_MODEL
	FROM TAX_PLAN
	WHERE COD_PLAN = @COD_PLAN
	AND TAX_PLAN.ACTIVE = 1

IF @@rowcount < 1
THROW 60000, 'COULD NOT REGISTER ASS_TAX_DEPART ', 1;

IF (SELECT
			COUNT(*)
		FROM @TP_DOCUMENT)
	> 0
BEGIN

INSERT INTO DOCS_BRANCH (COD_USER,
COD_BRANCH,
COD_SIT_REQ,
COD_DOC_TYPE,
PATH_DOC,
COD_SUP_TIC)
	SELECT
		@COD_PROVIDER_USER
	   ,@IDBR
	   ,16
	   ,COD_DOC_TYPE
	   ,PATH_DOC
	   ,NULL
	FROM @TP_DOCUMENT

IF @@rowcount < 1
THROW 60000, 'COULD NOT REGISTER DOCUMENTS ', 1;
END

IF (SELECT
			COUNT(*)
		FROM @TYPE_PARTNER)
	> 0
BEGIN

INSERT INTO ADITIONAL_DATA_TYPE_EC ([NAME],
CPF,
DOCUMENT,
BIRTH_DATA,
COD_EC,
COD_TYPE_PARTNER,
PERCENTEGE_QUOTAS,
ACTIVE)
	SELECT
		[NAME]
	   ,[CPF]
	   ,DOCUMENT
	   ,BIRTH_DATA
	   ,@IDEC
	   ,TYPE_PARTNER
	   ,PERCENT_QUOTAS
	   ,1
	FROM @TYPE_PARTNER

IF @@rowcount < 1
THROW 60000, 'COULD NOT REGISTER PARTNERS ', 1;


END;

INSERT INTO ESTABLISHMENT_CONDITIONS (COD_COMP,
COD_USER,
COD_EC,
ACTIVE,
ONLINE_TRANSACTION,
PRESENCIAL_TRANSACTION,
DOCUMENT)
	SELECT
		COD_COMP
	   ,63
	   ,@IDEC
	   ,1
	   ,1
	   ,1
	   ,1
	FROM COMPANY
	WHERE COMPANY.ACCESS_KEY = @ACCESS_KEY

IF @@rowcount < 1
THROW 60000, 'COULD NOT REGISTER PARTNERS ', 1;

--- KNOW YOUR COSTUMER           


IF (SELECT
			COUNT(*)
		FROM @TYPECLIENT)
	> 0
BEGIN

INSERT INTO [MEET_COSTUMER] ([COD_EC],
[QTY_EMPLOYEES],
[AVERAGE_BILLING],
[URL_SITE],
[INSTAGRAM],
[FACEBOOK],
[COD_NEIGH],
[STREET],
[NUMBER],
[COMPLEMENT],
[ANOTHER_INFO],
[CNPJ],
[NEIGHBORHOOD],
[CITY],
[STATES],
[REFERENCEPOINT],
[ZIPCODE])
	SELECT
		@IDEC
	   ,[QTY_EMPLOYEES]
	   ,[AVERAGE_BILLING]
	   ,[URL_SITE]
	   ,[INSTAGRAM]
	   ,[FACEBOOK]
	   ,[COD_NEIGH]
	   ,[STREET]
	   ,[NUMBER]
	   ,[COMPLEMENT]
	   ,[ANOTHER_INFO]
	   ,[CNPJ]
	   ,[NEIGHBORHOOD]
	   ,[CITY]
	   ,[STATES]
	   ,[REFERENCEPOINT]
	   ,[ZIPCODE]
	FROM @TYPECLIENT;
END;


EXEC [SP_REG_ASS_EC_LOCK] @COD_EC = @IDEC
						 ,@CPF_CNPJ = @CPF_CNPJ;


DECLARE @COD_RESEARCH_RISK_TYPE INT;
SET @COD_RESEARCH_RISK_TYPE = (SELECT TOP 1
		[RESEARCH_RISK_TYPE].[COD_RESEARCH_RISK_TYPE]
	FROM [RESEARCH_RISK_TYPE]
	WHERE [RESEARCH_RISK_TYPE].[CODE] = 'INITIAL'
	AND [RESEARCH_RISK_TYPE].[DOCUMENT_TYPE] = @DOCUMENT_TYPE
	AND [RESEARCH_RISK_TYPE].[ACTIVE] = 1);

INSERT INTO [RESEARCH_RISK] ([COD_EC],
[COD_USER],
[COD_RESEARCH_RISK_TYPE],
[COD_STATUS])
	VALUES (@IDEC, @COD_PROVIDER_USER, @COD_RESEARCH_RISK_TYPE, 0);


---- USER INFORMATION          


INSERT INTO USERS (COD_ACCESS, CPF_CNPJ, IDENTIFICATION, EMAIL, COD_COMP, COD_MODULE, COD_EC,
COD_PROFILE, ALTERNATIVE_EMAIL, COD_SEX, COD_REQ, COD_SITUATION, ACCEPT,
COD_AFFILIATOR)
	VALUES (@COD_ACESS, @CPF_CNPJ_USER, @NAME_USER, @EMAIL_USER, (SELECT TOP 1 COD_COMP FROM COMPANY WHERE ACCESS_KEY = @ACCESS_KEY), @MODULE, @IDEC, @PERFIL, @ALT_EMAIL, @CODSEX, @COD_REQ, @COD_SITUATION, 0, (SELECT TOP 1 COD_AFFILIATOR FROM COMMERCIAL_ESTABLISHMENT WHERE COD_EC = @IDEC));

IF @@rowcount < 1
THROW 60000, 'COULD NOT REGISTER USERS', 1;

SELECT
	@EMAIL_RET = USERS.EMAIL
   ,@NAME_RET = USERS.IDENTIFICATION
   ,@ACCESS_KEY = COMPANY.ACCESS_KEY
   ,@NOTIFY_TCU = IIF(CE.TCU_ACCEPTED = 0, 1, 0)
FROM USERS
INNER JOIN COMPANY
	ON COMPANY.COD_COMP = USERS.COD_COMP
INNER JOIN COMMERCIAL_ESTABLISHMENT CE
	ON USERS.COD_EC = CE.COD_EC
WHERE COD_ACCESS = @COD_ACESS;

SELECT
	@TCU_COMPLETE = 1
FROM SERVICES_AVAILABLE SA
JOIN ITEMS_SERVICES_AVAILABLE ISA
	ON SA.COD_ITEM_SERVICE = ISA.COD_ITEM_SERVICE
		AND ISA.ACTIVE = 1
WHERE SA.COD_AFFILIATOR = @COD_AFF
AND SA.COD_EC IS NULL
AND SA.ACTIVE = 1
AND ISA.NAME = 'TCUDETAILED'

DECLARE @COD_USER INT = @@identity
DECLARE @CODE_TERM VARCHAR(64) = NULL

IF @NOTIFY_TCU = 1
BEGIN
EXEC SP_REG_TERM_TOKEN @COD_USER

SELECT
	@CODE_TERM = CODE
FROM TERM_TOKEN
WHERE COD_USER = @COD_USER
AND ACTIVE = 1
END

SELECT
	@COD_USER AS CODUSER
   ,@COD_ACESS AS login
   ,@EMAIL_RET AS EMAIL
   ,@NAME_RET AS NAME
   ,@ACCESS_KEY AS ACCESS_KEY
   ,@COD_AFF AS CODAFF
   ,@NOTIFY_TCU AS NOTIFY_TCU
   ,@TCU_COMPLETE AS TCU_COMPLETE
   ,@CODE_TERM AS CODE_TERM
   ,@IDEC AS MERCHANT_ID;


--SELECT                  
-- @IDEC AS MERCHANT_ID              

END;

GO


IF OBJECT_ID('[SP_GW_LS_DETAILS_PLAN_MODEL_EQUIPMENT]') IS NOT NULL
DROP PROCEDURE [SP_GW_LS_DETAILS_PLAN_MODEL_EQUIPMENT]

GO
CREATE PROCEDURE [dbo].[SP_GW_LS_DETAILS_PLAN_MODEL_EQUIPMENT]             
/*----------------------------------------------------------------------------------------            
Procedure Name: [SP_GW_LS_DETAILS_PLAN_MODEL_EQUIPMENT]            
Project.......: TKPP            
------------------------------------------------------------------------------------------            
Author                          VERSION        Date                            Description            
------------------------------------------------------------------------------------------            
Marcus Gall      V1   2020-07-13  ET-921: Handle Plan by Equipment      
------------------------------------------------------------- -----------------------------*/           
(        
 @COD_PLAN INT,        
 @COD_AFFILIATOR INT        
)        
AS        
BEGIN
  
    
        
 DECLARE @COD_AFF_PLAN INT;

SELECT
	@COD_AFF_PLAN = COD_AFFILIATOR
FROM [PLAN]
WHERE COD_PLAN = @COD_PLAN
AND ACTIVE = 1;

IF (@COD_AFF_PLAN <> @COD_AFFILIATOR)
THROW 61064, 'INVALID PLAN FOR THIS AFFILIATOR OR PLAN IS INACTIVE', 1;

SELECT DISTINCT
	PLANS.COD_PLAN
   ,PLANS.[NAME_PLAN]
   ,PLANS.[DESCRIPTION]
   ,PLANS.CATEGORY
   ,PLANS.TYPE_PLAN
   ,PLANS.PLAN_OPTION
   ,PLANS.BRAND_GROUP
   ,PLANS.TRANSACTION_TYPE
   ,PLANS.QTY_INI_PLOTS
   ,PLANS.QTY_FINAL_PLOTS
   ,PLANS.EQUIPMENT_MODEL
   ,SUM(PLANS.ANTICIPATION_PERCENTAGE) AS ANTICIPATION_PERCENTAGE
   ,SUM(PLANS.INTERVAL_DEBIT) AS INTERVAL_DEBIT
   ,SUM(INTERVAL_CREDIT_A_VISTA) AS INTERVAL_CREDIT_A_VISTA
   ,SUM(INTERVAL_CREDIT_PARCELADO) AS INTERVAL_CREDIT_PARCELADO
   ,SUM(INTERVAL_ONLINE) AS INTERVAL_ONLINE
   ,SUM(PLANS.PARCENTAGE) AS PARCENTAGE
   ,SUM(PLANS.RATE) AS RATE
FROM (SELECT
		[PLAN].COD_PLAN
	   ,[PLAN].CODE AS [NAME_PLAN]
	   ,[PLAN].[DESCRIPTION]
	   ,PLAN_CATEGORY.CATEGORY
	   ,TYPE_PLAN.CODE AS TYPE_PLAN
	   ,PLAN_OPTION.CODE AS PLAN_OPTION
	   ,BRAND.[GROUP] AS BRAND_GROUP
	   ,TRANSACTION_TYPE.CODE AS TRANSACTION_TYPE
	   ,TAX_PLAN.QTY_INI_PLOTS
	   ,TAX_PLAN.QTY_FINAL_PLOTS
	   ,CASE
			WHEN (SOURCE_TRANSACTION.COD_SOURCE_TRAN = 1) THEN 'SITE'
			ELSE EQUIPMENT_MODEL.CODIGO
		END AS EQUIPMENT_MODEL
	   ,TAX_PLAN.ANTICIPATION_PERCENTAGE
	   ,(SELECT TOP 1
				ISNULL(INTERVAL, 0)
			FROM TAX_PLAN ASS
			WHERE ASS.COD_PLAN = [PLAN].COD_PLAN
			AND ASS.ACTIVE = 1
			AND ASS.COD_TTYPE = 2)
		AS [INTERVAL_DEBIT]
	   ,(SELECT TOP 1
				ISNULL(INTERVAL, 0)
			FROM TAX_PLAN ASS
			WHERE ASS.COD_PLAN = [PLAN].COD_PLAN
			AND ASS.ACTIVE = 1
			AND ASS.COD_TTYPE = 1
			AND ASS.QTY_INI_PLOTS = 1
			AND ASS.QTY_FINAL_PLOTS = 1
			AND ASS.COD_SOURCE_TRAN = 2)
		AS [INTERVAL_CREDIT_A_VISTA]
	   ,(SELECT TOP 1
				ISNULL(INTERVAL, 0)
			FROM TAX_PLAN ASS
			WHERE ASS.COD_PLAN = [PLAN].COD_PLAN
			AND ASS.ACTIVE = 1
			AND ASS.COD_TTYPE = 1
			AND ASS.QTY_INI_PLOTS > 1
			AND ASS.QTY_FINAL_PLOTS > 1
			AND ASS.COD_SOURCE_TRAN = 2)
		AS [INTERVAL_CREDIT_PARCELADO]
	   ,(SELECT TOP 1
				ISNULL(INTERVAL, 0)
			FROM TAX_PLAN ASS
			WHERE ASS.COD_PLAN = [PLAN].COD_PLAN
			AND ASS.ACTIVE = 1
			AND ASS.COD_SOURCE_TRAN = 1)
		AS [INTERVAL_ONLINE]
	   ,PARCENTAGE
	   ,RATE
	FROM [PLAN]
	JOIN TAX_PLAN
		ON TAX_PLAN.COD_PLAN = [PLAN].COD_PLAN
	JOIN PLAN_CATEGORY
		ON PLAN_CATEGORY.COD_PLAN_CATEGORY = [PLAN].COD_PLAN_CATEGORY
	JOIN TYPE_PLAN
		ON TYPE_PLAN.COD_T_PLAN = [PLAN].COD_T_PLAN
	JOIN TRANSACTION_TYPE
		ON TRANSACTION_TYPE.COD_TTYPE = TAX_PLAN.COD_TTYPE
	JOIN BRAND
		ON BRAND.COD_BRAND = TAX_PLAN.COD_BRAND
	JOIN SOURCE_TRANSACTION
		ON SOURCE_TRANSACTION.COD_SOURCE_TRAN = TAX_PLAN.COD_SOURCE_TRAN
	LEFT JOIN PLAN_OPTION
		ON PLAN_OPTION.COD_PLAN_OPT = [PLAN].COD_PLAN_OPT
	LEFT JOIN EQUIPMENT_MODEL
		ON EQUIPMENT_MODEL.COD_MODEL = TAX_PLAN.COD_MODEL
	WHERE TAX_PLAN.ACTIVE = 1) AS PLANS
WHERE PLANS.COD_PLAN = @COD_PLAN
GROUP BY PLANS.COD_PLAN
		,PLANS.[NAME_PLAN]
		,PLANS.[DESCRIPTION]
		,PLANS.CATEGORY
		,PLANS.TYPE_PLAN
		,PLANS.PLAN_OPTION
		,PLANS.BRAND_GROUP
		,PLANS.TRANSACTION_TYPE
		,PLANS.QTY_INI_PLOTS
		,PLANS.QTY_FINAL_PLOTS
		,PLANS.EQUIPMENT_MODEL;


END

GO


IF OBJECT_ID('[SP_GW_LS_DETAILS_PLAN_ESTABLISHMENT]') IS NOT NULL
DROP PROCEDURE SP_GW_LS_DETAILS_PLAN_ESTABLISHMENT

GO
CREATE PROCEDURE [dbo].[SP_GW_LS_DETAILS_PLAN_ESTABLISHMENT]
/*----------------------------------------------------------------------------------------            
Procedure Name: [SP_GW_LS_DETAILS_PLAN_ESTABLISHMENT]    Project.......: TKPP            
------------------------------------------------------------------------------------------            
Author                          VERSION        Date                            Description            
------------------------------------------------------------------------------------------            
Marcus Gall                       V1         19/06/2020                          Creation            
------------------------------------------------------------------------------------------*/ (@COD_EC INT,
@COD_AFFILIATOR INT)
AS
BEGIN





IF ( SELECT
		COUNT(*)
	FROM [PLAN]
	JOIN ASS_TAX_DEPART
		ON ASS_TAX_DEPART.COD_PLAN = [PLAN].COD_PLAN
	JOIN PLAN_CATEGORY
		ON PLAN_CATEGORY.COD_PLAN_CATEGORY = [PLAN].COD_PLAN_CATEGORY
	JOIN TYPE_PLAN
		ON TYPE_PLAN.COD_T_PLAN = [PLAN].COD_T_PLAN
	JOIN TRANSACTION_TYPE
		ON TRANSACTION_TYPE.COD_TTYPE = ASS_TAX_DEPART.COD_TTYPE
	JOIN BRAND
		ON BRAND.COD_BRAND = ASS_TAX_DEPART.COD_BRAND
	JOIN SOURCE_TRANSACTION
		ON SOURCE_TRANSACTION.COD_SOURCE_TRAN = ASS_TAX_DEPART.COD_SOURCE_TRAN
	JOIN DEPARTMENTS_BRANCH
		ON DEPARTMENTS_BRANCH.COD_DEPTO_BRANCH = ASS_TAX_DEPART.COD_DEPTO_BRANCH
	JOIN BRANCH_EC
		ON BRANCH_EC.COD_BRANCH = DEPARTMENTS_BRANCH.COD_BRANCH
	JOIN COMMERCIAL_ESTABLISHMENT
		ON COMMERCIAL_ESTABLISHMENT.COD_EC = BRANCH_EC.COD_EC
	JOIN AFFILIATOR
		ON AFFILIATOR.COD_AFFILIATOR = COMMERCIAL_ESTABLISHMENT.COD_AFFILIATOR
	WHERE COMMERCIAL_ESTABLISHMENT.COD_EC = @COD_EC
	AND ASS_TAX_DEPART.ACTIVE = 1)
= 0
THROW 61067, 'THIS ESTABLISHMENT DOES NOT HAVE AN ASSOCIATED PLAN', 1;


SELECT
	PLANS.COD_PLAN
   ,PLANS.[NAME_PLAN]
   ,PLANS.[DESCRIPTION]
   ,PLANS.CATEGORY
   ,PLANS.TYPE_PLAN
   ,PLANS.BRAND_GROUP
   ,PLANS.TRANSACTION_TYPE
   ,PLANS.QTY_INI_PLOTS
   ,PLANS.QTY_FINAL_PLOTS
   ,SUM(PLANS.ANTICIPATION_PERCENTAGE) AS ANTICIPATION_PERCENTAGE
   ,SUM(INTERVAL_DEBIT) AS INTERVAL_DEBIT
   ,SUM(INTERVAL_CREDIT_A_VISTA) AS INTERVAL_CREDIT_A_VISTA
   ,SUM(INTERVAL_CREDIT_PARCELADO) AS INTERVAL_CREDIT_PARCELADO
   ,SUM(INTERVAL_ONLINE) AS INTERVAL_ONLINE
   ,SUM(PLANS.PARCENTAGE) AS PARCENTAGE
   ,SUM(PLANS.RATE) AS RATE
   ,PLANS.PLAN_OPTION AS PLAN_OPTION
   ,PLANS.EQUIPMENT_MODEL
FROM (SELECT
		COMMERCIAL_ESTABLISHMENT.COD_EC
	   ,[PLAN].COD_PLAN
	   ,[PLAN].CODE AS [NAME_PLAN]
	   ,[PLAN].[DESCRIPTION]
	   ,PLAN_CATEGORY.CATEGORY
	   ,TYPE_PLAN.CODE AS TYPE_PLAN
	   ,BRAND.[GROUP] AS BRAND_GROUP
	   ,TRANSACTION_TYPE.CODE AS TRANSACTION_TYPE
	   ,ASS_TAX_DEPART.QTY_INI_PLOTS
	   ,ASS_TAX_DEPART.QTY_FINAL_PLOTS
	   ,CASE
			WHEN (SOURCE_TRANSACTION.COD_SOURCE_TRAN = 1) THEN 'SITE'
			ELSE EQUIPMENT_MODEL.CODIGO
		END AS EQUIPMENT_MODEL
	   ,ASS_TAX_DEPART.ANTICIPATION_PERCENTAGE
	   ,(SELECT TOP 1
				ISNULL(INTERVAL, 0)
			FROM ASS_TAX_DEPART ASS
			WHERE ASS.COD_DEPTO_BRANCH = ASS_TAX_DEPART.COD_DEPTO_BRANCH
			AND ASS.ACTIVE = 1
			AND ASS.COD_TTYPE = 2)
		AS [INTERVAL_DEBIT]
	   ,(SELECT TOP 1
				ISNULL(INTERVAL, 0)
			FROM ASS_TAX_DEPART ASS
			WHERE ASS.COD_DEPTO_BRANCH = ASS_TAX_DEPART.COD_DEPTO_BRANCH
			AND ASS.ACTIVE = 1
			AND ASS.COD_TTYPE = 1
			AND ASS.QTY_INI_PLOTS = 1
			AND ASS.QTY_FINAL_PLOTS = 1
			AND ASS.COD_SOURCE_TRAN = 2)
		AS [INTERVAL_CREDIT_A_VISTA]
	   ,(SELECT TOP 1
				ISNULL(INTERVAL, 0)
			FROM ASS_TAX_DEPART ASS
			WHERE ASS.COD_DEPTO_BRANCH = ASS_TAX_DEPART.COD_DEPTO_BRANCH
			AND ASS.ACTIVE = 1
			AND ASS.COD_TTYPE = 1
			AND ASS.QTY_INI_PLOTS > 1
			AND ASS.QTY_FINAL_PLOTS > 1
			AND ASS.COD_SOURCE_TRAN = 2)
		AS [INTERVAL_CREDIT_PARCELADO]
	   ,(SELECT TOP 1
				ISNULL(INTERVAL, 0)
			FROM ASS_TAX_DEPART ASS
			WHERE ASS.COD_DEPTO_BRANCH = ASS_TAX_DEPART.COD_DEPTO_BRANCH
			AND ASS.ACTIVE = 1
			AND ASS.COD_SOURCE_TRAN = 1)
		AS [INTERVAL_ONLINE]
	   ,PARCENTAGE
	   ,RATE
	   ,PLAN_OPTION.CODE AS PLAN_OPTION
	FROM [PLAN]
	JOIN ASS_TAX_DEPART
		ON ASS_TAX_DEPART.COD_PLAN = [PLAN].COD_PLAN
	JOIN PLAN_CATEGORY
		ON PLAN_CATEGORY.COD_PLAN_CATEGORY = [PLAN].COD_PLAN_CATEGORY
	JOIN TYPE_PLAN
		ON TYPE_PLAN.COD_T_PLAN = [PLAN].COD_T_PLAN
	JOIN TRANSACTION_TYPE
		ON TRANSACTION_TYPE.COD_TTYPE = ASS_TAX_DEPART.COD_TTYPE
	JOIN BRAND
		ON BRAND.COD_BRAND = ASS_TAX_DEPART.COD_BRAND
	JOIN SOURCE_TRANSACTION
		ON SOURCE_TRANSACTION.COD_SOURCE_TRAN = ASS_TAX_DEPART.COD_SOURCE_TRAN
	JOIN DEPARTMENTS_BRANCH
		ON DEPARTMENTS_BRANCH.COD_DEPTO_BRANCH = ASS_TAX_DEPART.COD_DEPTO_BRANCH
	JOIN BRANCH_EC
		ON BRANCH_EC.COD_BRANCH = DEPARTMENTS_BRANCH.COD_BRANCH
	JOIN COMMERCIAL_ESTABLISHMENT
		ON COMMERCIAL_ESTABLISHMENT.COD_EC = BRANCH_EC.COD_EC
	JOIN AFFILIATOR
		ON AFFILIATOR.COD_AFFILIATOR = COMMERCIAL_ESTABLISHMENT.COD_AFFILIATOR
	LEFT JOIN EQUIPMENT_MODEL
		ON EQUIPMENT_MODEL.COD_MODEL = ASS_TAX_DEPART.COD_MODEL
	LEFT JOIN PLAN_OPTION
		ON PLAN_OPTION.COD_PLAN_OPT = [PLAN].COD_PLAN_OPT
	WHERE ASS_TAX_DEPART.ACTIVE = 1) AS PLANS
WHERE PLANS.COD_EC = @COD_EC
GROUP BY PLANS.COD_PLAN
		,PLANS.[NAME_PLAN]
		,PLANS.[DESCRIPTION]
		,PLANS.CATEGORY
		,PLANS.TYPE_PLAN
		,PLANS.BRAND_GROUP
		,PLANS.TRANSACTION_TYPE
		,PLANS.QTY_INI_PLOTS
		,PLANS.QTY_FINAL_PLOTS
		,PLANS.PLAN_OPTION
		,PLANS.EQUIPMENT_MODEL
END