SET IDENTITY_INSERT [dbo].[ACQUIRER_KEYS_CREDENTIALS] ON 

INSERT [dbo].[ACQUIRER_KEYS_CREDENTIALS] ([COD_KEY_AC], [NAME], [VALUE], [COD_AC], [CODE_EC]) VALUES (1, N'GW_ID', N'1', 8, NULL)
INSERT [dbo].[ACQUIRER_KEYS_CREDENTIALS] ([COD_KEY_AC], [NAME], [VALUE], [COD_AC], [CODE_EC]) VALUES (2, N'M_ID', N'43648a7e-83f0-4413-a21c-2ac67d79db40', 8, NULL)
INSERT [dbo].[ACQUIRER_KEYS_CREDENTIALS] ([COD_KEY_AC], [NAME], [VALUE], [COD_AC], [CODE_EC]) VALUES (3, N'MID', N'005558094', 8, NULL)
GO
SET IDENTITY_INSERT [dbo].[ACQUIRER_KEYS_CREDENTIALS] OFF

GO

UPDATE COMMERCIAL_ESTABLISHMENT
SET USER_ONLINE = '200333'
   ,PWD_ONLINE = '3DE3B99D-08BB-41AB-A2A5-E1EE66222E2A'
   ,TRANSACTION_ONLINE = 1
   ,REQUESTED_PRESENTIAL_TRANSACTION = 1
   ,REQUESTED_ONLINE_TRANSACTION = 1
WHERE [NAME] = 'ESTABELECIMENTO TEST'

GO

INSERT INTO EQUIPMENT (CREATED_AT, TID, SERIAL, COD_MODEL, COD_COMP, ACTIVE, CHIP, COD_USER, PUK, COD_OPER)
	SELECT
		CREATED_AT
	   ,'874323247'
	   ,'WWW.SITEPADRAO.COM'
	   ,COD_MODEL
	   ,COD_COMP
	   ,ACTIVE
	   ,CHIP
	   ,COD_USER
	   ,PUK
	   ,COD_OPER
	FROM EQUIPMENT
	WHERE SERIAL = 'www.bestfly.com.br'

GO

INSERT INTO ASS_DEPTO_EQUIP (DATA_REGISTRO, COD_EQUIP, COD_DEPTO_BRANCH, ACTIVE, COD_USER)
	VALUES (current_timestamp, (SELECT COD_EQUIP FROM EQUIPMENT WHERE SERIAL LIKE 'WWW.SITEPADRAO.COM'), (SELECT COD_DEPTO_BRANCH FROM COMMERCIAL_ESTABLISHMENT INNER JOIN BRANCH_EC ON BRANCH_EC.COD_EC = COMMERCIAL_ESTABLISHMENT.COD_EC INNER JOIN DEPARTMENTS_BRANCH ON DEPARTMENTS_BRANCH.COD_BRANCH = BRANCH_EC.COD_BRANCH WHERE COMMERCIAL_ESTABLISHMENT.NAME = 'ESTABELECIMENTO TEST'), 1, 63)
